[2017-04-25 07:37] lispyclouds opened #1 "Possible performance improvements"
Lines https://github.com/maximecb/zetavm/blob/master/vm/interp.cpp#L375-L943 dispatches bytecodes on a switch and this can be a big performance bottleneck specially while dispatching large number of bytecodes. This can be improved by threaded dispatch via computed gotos.

Also https://github.com/maximecb/zetavm/blob/master/vm/interp.cpp#L155-L248 might benefit using a map<K,V> than an if-else as t

[2017-04-25 17:34] maximecb commented on #1
Hi there!

I would actually like to mostly rewrite this interpreters. The performance is currently awful, and I think there are multiple big issues there. Some of the biggest performance killers:

- I'm still doing a map lookup for every instruction being executed (opCache)
- Instructions are stored in an array owned by basic blocks, with pointer indirection
- Property lookups on instruction objec

[2017-04-26 02:58] lispyclouds commented on #1
Thanks a lot for the detailed explanation.

I am a budding compiler/VM enthusiast and a unified dynamic language VM was one of my dreams. I would definitely like to contribute to this project.

I had a couple of questions:

- This being a VM for dynamic languages, is the compiler front-end for the language responsible for supplying Zeta the types, or will Zeta have some type inference?
- How simil

[2017-04-26 03:33] maximecb commented on #1
I'd be happy to have contributors on the project. I'm very motivated to work on this one and make it a novel and interesting system :)

Zeta will have type specialization based on [basic block versioning](https://pointersgonewild.com/2015/09/24/basic-block-versioning-my-best-result-yet/), meaning you will be able to pass it code without any type annotations and get good performance. That being sai

[2017-04-26 03:37] maximecb opened #2 "Implementation of a LISP-like language front-end"
Title says it all. I would like to implement a lisp-like language front-end for Zeta. I was thinking that the LISP dialect supported could be named "miniLISP". Another possibility would be to go for full-on scheme support.

[2017-04-26 04:32] lispyclouds commented on #1
Thank you! That clarifies a lot :)

I'll look into the source and try improvements. Also could you clarify on:

Does that mean Zeta won't be able to use and compiled c/c++ libs like openssl or opengl which generally come as compiled .so/.dll files without full compilation?

As for the APIs Zeta provides, will these APIs be some functions? Or network APIs? If they are functions, would Zeta be avail

[2017-04-26 05:25] maximecb commented on #1
Sure. Also, if you're interested, I'd like it if someone implemented a [LISP front-end](https://github.com/maximecb/zetavm/issues/2) for ZetaVM, or a Python/JS/Lua front-end. Having front-ends for other languages besides the plush language I'm implementing would be great for testing language interop, and showcasing multi-language capabilities.

For graphics and audio, ZetaVM will link with SDL2, a

[2017-04-28 03:09] maximecb opened #3 "Implementation of a fast interpreter"
The current interpreter, which directly executes the object-based Zeta IR (ZIR), is unfortunately dog slow, in large part because traversing a graph of dynamic objects can't really be made fast. I would like to start writing a new interpreter which lazily compiles the ZIR into a compact, linear, flat internal IR with variable instruction length.

This interpreter will be based on the Basic Block V

[2017-04-29 18:31] maximecb opened #4 "Implementation of a JavaScript front-end"
It would be great to have support for JavaScript, or a subset of it. This would allow us to use existing JS code. The Plush language is quite similar to JS, so the [Plush parser](https://github.com/maximecb/zetavm/blob/master/plush/parser.pls) could be used as a base to begin implementing JS support.

[2017-04-29 19:45] maximecb opened #5 "Audio output API (SDL2)"
I would like to add SDL2 audio support to Zeta. This would be exposed through a core API that does not expose any of the details of SDL. A new "core/audio" package would be created. See the vm/core.cpp source file.

I would prefer that the API be polling-based rather than callback based (SDL2 does provide an API for this). You would simply pass an array of samples to be written, and you could call

[2017-04-29 23:23] meadori commented on #2
I am up for implementing Scheme.  Say, R7RS?

[2017-04-29 23:29] maximecb commented on #2
If you're implementing it, you get to pick the one you want 👍

Do you need guidance as to how to proceed? There are at least two ways of going about it.

1. You can write your own scheme to zeta-image compiler which outputs textual IR. If you go this route, I would prefer you write the compiler in C, C++ or Python.

See the cplush C++ implementation:
https://github.com/maximecb/zetavm/tree/master/

[2017-04-29 23:46] meadori commented on #2
Thanks for the tips!  I am quite comfortable with C++.   I would like to follow a similar path as Plush -- implement C++ and then self-host.  Self-hosting is always a great test for implementing languages.

I have been reading the existing Zeta code to get a feel for the style, but is there a style guide or coding standard anywhere?  Or a .clang-format for the C++ code would be great too.

[2017-04-29 23:53] maximecb commented on #2
Awesome. Curious to see how it works out. Feel free to send pull requests often. I'd be really happy to have more code to test the VM.

There is no official style guide. I prefer curly braces on their own line and 4-wide soft tabs. I tend to use camelCase. Not too strict about style.

[2017-04-30 22:09] dirk commented on #4
As parsing JS is a huge headache, what about using a FOSS parser (eg. Facebook's [`libfbjs`](https://github.com/facebookarchive/libfbjs)) and then only having to tackle traversing/transforming the parser's produced AST into an image?

[2017-04-30 22:51] maximecb commented on #4
I would rather minimize dependencies on external libraries. I wrote a parser from ES5 in D for my Higgs project and I think it's probably not as hairy as you think:
https://github.com/higgsjs/Higgs/blob/master/source/parser/parser.d

IIRC Brendan Eich also wrote a JS parser in JS which could presumably be ported without too much difficulty.

Another thing to keep in mind is that it could be OK to

[2017-05-01 01:16] dirk commented on #4
Cool! Having spent a bit of time in grammars for ES6, JS parsing seemed... daunting. :joy:

[2017-05-05 02:51] bsaleil opened #11 "Discussion: Add the 'char' primitive type"
Because there is no ```char``` primitive type, it is not possible to efficiently implement characters (without wrapping them into objects) for a language targeting ZetaVM.
This is suitable for languages like JavaScript, but not for languages using two different types for strings and chars (e.g. Scheme).

If a ```char``` primitive type is added:

* The ```get_char``` instruction should return a cha

[2017-05-05 03:32] maximecb commented on #11
It's possible to make one-character strings fairly efficient by using a number of implementation tricks. For instance, JavaScript VMs will represent very short strings by storing them as tagged words... That is, you can represent a few 8-bit unicode chars in an 8-byte word. Another thing that is often done is to have preallocated, interned strings for the first 256 chars, so if you ask me for any

[2017-05-05 16:16] bsaleil commented on #11
I understand that one-char strings can efficiently be implemented by the VM.
My problem is more with the indirection introduced if two different types are needed by a language implementation.

IMO, this makes Scheme implementation less intuitive, and Scheme always represents a big part of the languages used to experiment on VM frameworks (for personal projects, student projects, etc...)

I have mi

[2017-05-06 00:26] maximecb commented on #11
I think I would prefer to not have a char type, because it seems redundant. I think that I would rather have language implementation use the same limited set of core types, because it might make interoperability easier. For instance, JS uses one-character strings to represent chars. If Scheme on Zeta uses a separate char type, then some interoperability is lost.

[2017-05-07 15:26] JonasT opened #13 "Consider changing to zlib license for less problematic inclusion into binaries"
This project appears to be a bytecode VM aimed at any sort of programming language developer seeking a backend. Now before you shoot me, yes the current license is already very liberal and generous. However, there is one point that is a bit problematic:

From my impression (disclaimer: I have just discovered this project) the regular use case appears to be 1. I write a compiler targeting the VM, 2

[2017-05-07 16:59] maximecb commented on #13
AFAIK, the BSD license is liberal enough for commercial use. I don't think the attribution line is a big issue. Certainly it isn't a difficult problem to correct when spotted?

[2017-05-07 17:16] JonasT commented on #13
Sure, but be honest:

After compiling a simple hello world C program, has it ever come up to you that you might need to attribute components the compiler has put in? Unless you explicitly statically linked the C library (which you usually wouldn't) probably not - because nobody thinks of that.

Iin reality most people will miss on this and this will create a bit of a legal grey area. Also, for som

[2017-05-07 23:00] maximecb commented on #13
Not fundamentally opposed, but I'll wait for now. Would like to hear more opinions on this.

[2017-05-07 23:00] #13 closed

[2017-05-13 18:31] Meai1 opened #15 "What about debugging?"
Kinda really important to be able to debug a language once it's done, isn't that a feature of the VM that needs to exist?
Would be cool if you could just use the same remote debugging protocol that v8 has, i think it's called webkit remote debugging protocol

also what's the status right now, can I make a language on top of zetavm right now, and how?

[2017-05-13 20:00] maximecb commented on #15
Right now I added the capability to track source code location on function call sites and asserts. I'm in the process of implementing support for exceptions. Fairly basic but helpful debug features. I may add other things to the IR to enable the implementation of debuggers. To be determined.

How does the V8 debug protocol work?

[2017-05-14 15:10] Meai1 commented on #15
Ok I just realized that I know a lot less about debuggers that I thought I did, I think any debugging support you decide on is fine.. I was really just anxious about whether you had any plans at all because it is important in my opinion. (My idea was that maybe if you could use the same protocol as GDB/MI or v8, then you could reuse the IDEs that already support those but I think it's not quite th

[2017-05-17 14:04] Maaarcocr opened #17 "Contributing to the project"
I'm opening this issue because I would love to have the opportunity to contribute to this project.
I haven't seen any particular mention in the README, so I don't know if contributions are welcome at this point of the project.
I'm not even sure if opening an issue on GitHub is the right thing to do, but I would be very happy to contribute in any way, from writing documentation, creating a sample l

[2017-05-18 05:02] maximecb commented on #17
Hi Marco,

Thank you for pointing this out. I will add more information to the README.

I would be happy to get more contributions. In the meantime, I did add some basic information about implementing languages on ZetaVM in this issue: https://github.com/maximecb/zetavm/issues/2

As far as working on the VM itself, there are a number of things you could help with:
- I would like to add some instru

[2017-05-18 21:41] Maaarcocr commented on #17
Thanks for the response!
One more thing: I was thinking of creating a toy language using ZetaVM and I was thinking of approaching it using the first approach described in the issue you referenced. So I would just emit IR and not pass it in memory.
Do you have any guidance about what instructions the IR contains now?
I'm sorry to bother you, but I really want to use this as it seems really promisin

[2017-05-19 03:39] maximecb commented on #17
You're not bothering me at all. I'm happy to hear that you're interested in using ZetaVM. I'm happy to answer any questions you might have.

At the moment, the only guidance would be to look at the implementation of the interpreter. There is a listing of the opcodes here:
https://github.com/maximecb/zetavm/blob/master/vm/interp.cpp#L10

And the big switch case implementing the ops is here:
https:/

[2017-05-19 07:01] Maaarcocr commented on #17
Thank you for the response!
I will inspect the files and learn from them.
I already have a bit of experience with JVM bytecode due to a coursework that we had to do at Uni, so it shouldn't be extremely difficult!

[2017-05-20 11:42] maximecb commented on #17
Sure, you can work on float support. Excited to have support for that, because it will make it easier to do sound and graphics. For now, I'm planning to support only float32 for now, and to make that the default float type. My reasoning is that it will be easier to implement GPU support if we default to this format. Sidenote: I'm actually wondering if we should do the same with integers. Right now

[2017-05-21 14:35] Maaarcocr opened #20 "Understanding how plush works"
So I'm trying to add float support to plush mainly to be able to test floats in a higher level language.
Now, I'm not fully sure about how the front end for plush works.
My main point of confusion is the fact that the parser has some parts written in cpp and others in plush.
Moreover, the runtime is written in plush but the code generation in cpp.

So the runtime.pls is firstly interpreted and it

[2017-05-21 15:20] maximecb commented on #20
The reason it might be confusing is that there are two plush implementations. There is a C++ implementation (parser.cpp, codegen.cpp, etc), and there is also a plush-written-in-plush implementation (parser.pls). The runtime.pls file is, as you pointed out, used to define certain symbols. It also implements the behavior of primitive operators in plush (what happens when you do x + y). Both implemen

[2017-05-22 13:35] Maaarcocr commented on #20
I'll try to implement floats in the plush version!
I'll try my best to have it ready as soon as possible, but till Wednesday I'm a different conferences so I'll be a bit busy.
Thanks for the clarification.

[2017-05-22 15:57] maximecb commented on #20
@Maaarcocr No problem. Deep learning talks at work for me today.

I did make some changes since your last PR. I changed the int type to int32. Make sure to do a `git pull` when you look at the code again.

Enjoy the conferences :)

[2017-05-22 17:49] fmonett opened #21 "Compilation errors on Cygwin GCC 5.4.0"
The following code in runtime.cpp:
/// Undefined value constant
const Value Value::UNDEF(Word)0LL), TAG_UNDEF);

/// Boolean constants
const Value Value::FALSE(Word(0LL), TAG_BOOL);
const Value Value::TRUE(Word(1LL), TAG_BOOL);

/// Numerical constants
const Value Value::ZERO(Word(0LL), TAG_INT32);
const Value Value::ONE(Word(1LL), TAG_INT32);
const Value Value::TWO(Word(2LL), TAG_INT32);

Fails c

[2017-05-22 17:55] fmonett commented on #21
ULL does not work. My bad. int64_t is signed after all

[2017-05-22 18:03] maximecb commented on #21
Man, I hate this C++ type-ambiguity crap. I really wish there was a way to explicitly name which constructor you want. I will add the casts as you suggest.

[2017-05-22 18:14] fmonett commented on #21
This may be compiler-specific though.

[2017-05-22 18:43] maximecb commented on #21
It is compiler-specific. I'm using clang on Mac and it doesn't give these errors, but it has given me type ambiguity errors in other areas before.

When we set up automated testing (CI) for this project, it might be wise to compile on both clang and G++.

[2017-05-22 21:02] fmonett opened #22 "An instruction to invoke opcodes on the stack"
I had an idea that I've implemented (basically).
It is an opcode that uses the value from the top of stack as the opcode which is then executed.

Ex:
        { op: "push", val: 10 },
        { op: "push", val: 20 },
        { op: "push", val: 6 }, #ADD_I32 opcode
        { op: "invoke"},
        { op: "push", val: 3 },
        { op: "push", val: 8 }, #MUL_I32 opcode
        { op: "invoke"},

[2017-05-22 21:26] maximecb commented on #22
Hi @fmonett,

This kind of an instruction is unfortunately not great for JIT compilation, because it makes it more difficult to generate efficient machine code. It would make dynamic execution less predictable.

But, worry not. We already have eval covered! The bytecode format is made of plain objects and arrays native to Zeta. If you create, in the plush language, objects that are "in the shape o

[2017-05-22 21:26] #22 closed

[2017-05-23 03:52] maximecb commented on #21
Fixed :)

[2017-05-23 03:52] #21 closed

[2017-05-23 03:53] maximecb commented on #15
Closing for now.

[2017-05-23 03:53] #15 closed

[2017-05-23 03:53] maximecb commented on #11
Closing for now.

[2017-05-23 03:53] #11 closed

[2017-05-23 03:55] maximecb commented on #3
The initial version of the fast interpreter is in place. It's about 7x faster than the old one, and reaches 200 MIPS on simple loop code. I intend to make many improvements to it. It does no type specialization at the moment. For now, however, I will focus on adding features like exceptions, which are very useful for testing and debugging.

[2017-05-23 10:20] Maaarcocr opened #23 "Float Constant PI"
I was thinking that maybe having pi as a float constant could simplify the creation of languages on top on zeta. Am I wrong?

[2017-05-23 10:58] werediver commented on #23
Why doesn't `M_PI` from `#include <math.h>` or `#include <cmath>` (optionally prepended with `#define _USE_MATH_DEFINES`) work for this purpose?

[2017-05-23 12:04] Maaarcocr commented on #23
Is the M_PI exposed to languages implemented with zetavm?

[2017-05-23 12:07] Maaarcocr commented on #20
Small update:
I'm sorry, but I'm actually going to implement is in c++. I just find it easier to implement it due to the presence of atof.
I may actually implement floats into the c++ one, so that I can use str_to_f32 in the plush integration later on.
I hope that my change of mind doesn't cause any problem.

[2017-05-23 12:13] werediver commented on #23
Of course, not. So, you are proposing to introduce an op-code like `PUSH_PI_F32` into the virtual machine?

[2017-05-23 12:23] Maaarcocr commented on #23
Yes, exactly.

[2017-05-23 12:43] werediver commented on #23
Personally, I don't think it's a good idea. Now you're talking about π as f32. Eventually you'll need π as f64, as well a bunch of others from (Mathematical constant)[https://en.wikipedia.org/wiki/Mathematical_constant] Wikipedia page. People will ask questions like "So, we have π, but not √2? How come?? And what about √3?", and I don't see a good answer for them.

I don't see a problem in definin

[2017-05-23 14:18] Maaarcocr commented on #23
Fair enough. It was just an idea, it's not backed up by any real world example.

[2017-05-23 14:22] maximecb commented on #23
I think it's very easy to define your own pi constant, and I want to keep the VM as minimal as possible. The way to go about this would be to define a math package/library people can import and include the pi constant in the exported values.

[2017-05-23 14:25] #23 closed

[2017-05-23 14:26] maximecb commented on #20
Sure, no problem. This project is meant to be fun too :)

[2017-05-23 14:29] Maaarcocr commented on #20
It is fun :) I'm learning a good amount of things, thanks!

[2017-05-24 04:08] maximecb commented on #5
@maaarcocr Maybe this could interest you, once floating-point support is ready :)

[2017-05-25 14:14] Maaarcocr opened #27 "SDL Create Windows is not working (in plush)"
I was trying to use run the draw_font.pls in the benchmarks folder, but it doesn't seem to work.

EDIT:
It seems like the create_window function in cpp get passed the wrong type of values.
I'm not sure what's going on.

[2017-05-25 18:07] Maaarcocr commented on #27
So I'm trying to dig deeper and I created a dull function in the window package that just returns the sum of 2 ints. I was checking their types with assert in cpp and apparently the first argument has the correct type, but the second one doesn't. This is similar to what happens with create_window, where the first argument is fine but the second and the third are not.

Maybe [this](https://github.c

[2017-05-25 18:19] Maaarcocr commented on #27
I solved this.

I will make a Pull Request when the one that is still open will be closed.

[2017-05-25 18:19] #27 closed

[2017-05-27 10:10] Maaarcocr commented on #5
So here I am describing my main doubt about the audio API.

[code]

is ```chan 0 sample 0``` a syntactical addition that we are doing in the parser? Is it like a tuple of floats? I'm not really sure that I understand this notation.

[2017-05-27 14:37] maximecb commented on #5
No, I just meant to say that the value for sample 0 of channel 0 goes there.

Maybe we should do the channels non-interleaved instead, with an array of arrays of samples:

var audioData = [ [ /* channel 0 samples */ ], [ /* channel 1 samples */ ] ];

I was thinking we'd support just one output device, but maybe we should use a device ID as you suggest, as that would be more future-proof.

I'd like

[2017-05-28 18:00] Maaarcocr commented on #3
I'm not sure if you need any help here, but if you do I would be more than happy to contribute! :)

I was planning to try out a simple implementation of a stop-the-world GC for zeta, but I would also love to learn more about this! :)

I'm happy to work on both, so let me know!

[2017-05-29 16:43] Maaarcocr opened #31 "Finding global variables (GC implementation)"
In the process of trying to make a very simple GC, or at least starting trying out things for it, I wanted to print all the declared variables when VM::alloc is called.

I've been successful to print variables that are in the stack with this function:
[code]

This function is inside interp.cpp

What I'm doing is just traversing the stack and printing the Values that are pointers (the Values I'm in

[2017-05-29 20:30] werediver commented on #31
After a quick look it seems that the VM does not track heap allocations at the moment (I would expect to see some tracking in `VM::alloc()`). Perhaps, it's a feature to be implemented as a part of GC development.

[2017-05-29 20:38] Maaarcocr commented on #31
@werediver Yes, I'm aware of that. But I don't think that global variable are heap allocated, such as Int32 global variables. The global object has to be somewhere during execution, if not it would not be possible to access its values.

I hope that now the issue is a bit clearer :)

[2017-05-30 01:32] maximecb commented on #3
@Maaarcocr I might need help with it.

The challenge would be that it's kind of an unusual interpreter. It does some amount of compilation and optimization work. It's going to be based on the basic block versioning technique I developed during my PhD.

There are links to papers on the topic and videos of presentations I've given on this page:
https://pointersgonewild.com/about/

Another thing you

[2017-05-30 03:18] maximecb commented on #31
References to objects that you seed a garbage collector algorithm with are called roots in GC parlance.

There isn't just one global object. Each package/module has its own. The global object is directly referenced by push instructions, and pushed on the stack when it needs to be accessed. I was thinking I might want to add a pointer to the current function to function arguments, in order to facil

[2017-05-30 07:11] Maaarcocr commented on #3
I've read the paper and I kinda understood the main point of lazy bbv.
What I've understood is: you only JIT a specialised version of the code on need, reducing the amount of type checking needed in the code. So, the next time the code call a specific function if arguments with different types are passed, then new machine code will be generated that adapts to the new types.

I may reread the paper

[2017-05-30 07:13] Maaarcocr commented on #31
I see.

So when the global object get pushed, how does C++ find it? Like, the interpreter must have some sort of reference to it in order to be able to push it to the stack, or am I misunderstanding something?

[2017-05-30 14:48] maximecb commented on #31
The reference is in the object that represents the push instruction.

{ op:'push', val:@global_obj} // <== this instruction is an object, val is a property that refers to global_obj

[2017-05-30 15:12] Maaarcocr commented on #31
There is still something that it's not clear to me.

So when @global_obj get pushed, where is its value taken from? Like @global_obj is just a string, where does the Value, that is pushed to the stack, come from? Like the reference to it.

I'm sorry to ask so much about this, but I really can't wrap my head around it.

[2017-05-30 16:04] maximecb commented on #31
The zim files describe a graph of objects and values. When the files are loaded, the graph gets constructed. Once in memory, there are no strings, the instruction directly contains a reference to the global object. See `vm/parser.cpp` for more details on how that works.

[2017-05-30 16:38] Maaarcocr commented on #31
Oh okay, I'll have a look! Thanks!

[2017-05-30 20:56] Maaarcocr commented on #31
I had a look and now it's cleared how it works.
Right now it seems like accessing global definitions and using them as roots for the GC would be quite difficult, as they are directly substituted during parsing.

Even with what you propose, a function having references to what it uses, a safe GC may not be feasible. For example a function may not use a global variables, but the next one will. (I ma

[2017-05-30 22:16] maximecb commented on #31
You need to understand the concept of "liveness". Data is live if it can be reached from the set of "root" pointers we provide to the GC traversal/marking algorithm. Liveness is also transitive.

Right now, the global object is referenced inside the bytecode of functions. Any function that can access the global object will need to get a reference to it somehow. Either through its own bytecode, wit

[2017-05-30 22:20] Maaarcocr commented on #31
I see.
I thought that global variable was love throughout the entire program, till its end.

Thanks you for explaining! :)

[2017-06-01 01:53] maximecb opened #32 "Floating-point support in the self-hosted Plush parser"
We now have floating-point support in the VM, and in the C++ Plush compiler (cplush). However, we're still missing support for parsing floats in the self-hosted Plush parser (plush/parser.pls). This is a big missing piece, because the self-hosted parser is the preferred way to write Plush code. It's likely that eventually, the cplush compiler will be deprecated. At the very least, this parser won'

[2017-06-01 01:56] maximecb commented on #32
@Maaarcocr I noticed this was missing while testing out the audio API. I'd like this if you completed this last missing piece of floating-point support.

[2017-06-01 02:02] maximecb commented on #3
I played with the audio API a little bit yesterday. It seems that right now, the interpreter is still too slow to generate audio in real-time. That is, it takes more than one second to generate a second of very basic audio (ie: a sine wave).

The next two things I can see being done for performance are:

1. Optimizing function calls with inline caches. This will probably provide a big boost.

2. O

[2017-06-01 04:11] maximecb commented on #31
@Maaarcocr I've been pretty busy with work and haven't gotten around to fixing that issue. May be fairly busy in the next few day as I'll be moving into a new apartment.

In the meantime, maybe this can keep you busy: https://github.com/maximecb/zetavm/issues/32

[2017-06-01 08:10] Maaarcocr commented on #32
Sure, I'll give it a go! :)

[2017-06-01 08:12] Maaarcocr commented on #31
@maximecb I've actually played around with some basic blocks for the GC (such as making the VM keep track of everything that it allocates memory for).

I'll work on floats in plush (as I've already mentioned in the other issue) before going back to the GC.

[2017-06-03 15:55] Maaarcocr commented on #32
Should we close this?

[2017-06-03 17:27] maximecb commented on #32
Yes :)

[2017-06-03 17:27] #32 closed

[2017-06-07 14:14] Maaarcocr commented on #31
A small update on this: I've been quite busy this week, I'm still planning to implement the GC :)

Also, from next week I'll start my summer internship (🎉), so I'll probably have less time :( but I'd still love to contribute in my free time!

[2017-06-07 15:17] maximecb commented on #31
Congrats on your summer internship. I hope you still manage to find time because you've been extremely helpful. I most likely still wouldn't have gotten around to adding floating-point support. I'm also pretty busy with my new job. I try to do a little bit every night, even if it's just 15 minutes. Over the last couple of days, I completed support for exceptions in the VM and in cplush. That will

[2017-06-07 16:24] Maaarcocr commented on #31
I would love to implement a language. I may switch to that while you work on the closers argument :) as I said next week I'll start working and it's really my first time in industry, so I need to "adapt" my schedule. I will work on the langauge!

I won't abandon zetaVM, so far it has been probably the best project I've worked on, so it would be stupid!

Please, let me also know when you'll need he

[2017-06-08 04:36] #5 closed

[2017-06-08 09:37] Maaarcocr opened #36 "Trying to implement a language - Marco"
I'm opening this issue to have a place where I can ask questions that could also be relevant to people in future trying to do similar things to me while implementing a language with zetaVM.
For other less relevant issues I may contact @maximecb in private (I sent you a request on Hangouts) in order to reduce the spam of silly questions here.

Yesterday I was trying to come up with some ideas about

[2017-06-08 13:33] maximecb commented on #36
I think we may want to add a "get_field_list" instruction which returns an array of field name strings. It's going to be needed by other language implementations as well.

[2017-06-08 13:41] werediver commented on #36
@maximecb Are you planning to implement features like inheritance (either class-based or prototypal) and virtual method calls (if applicable) in the VM or delegate them to language implementers?

[2017-06-08 13:48] maximecb commented on #36
The VM has native support for dynamic typing, so you already have virtual method calls in the form of duck typing. Function calls involve a dynamic lookup.

As for prototypal inheritance, that is delegated to language implementers. It seemed better that way to me because it allows the VM's object model to remain simpler. It's not difficult to implement this in your own language. Plush exemplifies

[2017-06-09 15:37] maximecb opened #38 "Missing math library features"
I was working on code to do sound/music generation the other day, and I'm missing a few features that probably should be in our math library (plush/math.pls).

It would be useful to have functions such as `floor`, `ceil`, `round` and `fmod`, which work as in the C library. I believe it should be possible to implement these without introducing new instructions in the VM. The functions should be tes

[2017-06-09 16:08] maximecb opened #39 "Random number generator library"
It would be useful to have a random number generator library. Something we could use as follows:

[code]

Would also be useful to have a method to select a random element in an array, and to generate random booleans, etc.

I've written this C++ code a while back which could be ported, serve as a base for the implementation: https://gist.github.com/maximecb/617de45a99347a9911b1e0d974da5d62

[2017-06-10 14:22] maximecb opened #40 "Plush floating-point number format"
I was writing some code the other day and it occurred to me that we should really force floating-point numbers in plush to have the same trailing "f" as in zeta image files.

eg: 3.56f, instead of just 3.56

The reason is that we may eventually add float64 support, and if we do that, they will need to have a different literal format. Hence, I would rather we follow the same convention as C and hav

[2017-06-11 21:35] maximecb commented on #4
@dirk Are you still working on this?

[2017-06-11 21:36] maximecb commented on #2
@meadori Are you still working on this?

[2017-06-11 21:50] dirk commented on #4
@maximecb: Sure! Could use a distraction from work.

[2017-06-11 22:21] meadori commented on #2
@maximecb I am.  I obviously haven't pushed much lately (the day job has been very busy).  I will get back into things this week.

[2017-06-11 22:43] maximecb commented on #2
I hear you. Busy with my new job as well. Glad to hear you're still at it :)

[2017-06-12 09:35] motet-a opened #43 "How lines in image files can be mapped to lines in source files?"
If an error occurs somewhere in a running program, is it possible to get the corresponding line number in the source file? Are related debugging features implemented in Zeta?

JavaScript transpilers and browsers use a similar system called source maps, and GCC/GDB also use a similar system with the `-g` option.

Thanks.

[2017-06-12 13:51] maximecb commented on #43
Call, throw and abort instructions can be annotated with an `src_pos` field. This should point to an object with `src_name`, `line_no` and `col_no` fields, so when you generate an image, you can store source position information. The image files themselves, while they are human-readable, aren't really meant to be written by hand, that is you wouldn't really develop software that way, but you can s

[2017-06-13 04:26] #40 closed

[2017-06-13 04:34] maximecb commented on #36
Following the discussions we've had, I added the hidden function/closure argument in: 4931dffa9d304116d2f3c9a3ec78dfa5b323b42b

Now, every function receives the function object being called as the last argument. Every function must have `num_locals >= num_params + 1`.

Closures can be implemented by performing [closure conversion](http://matt.might.net/articles/compiling-scheme-to-c/). That is, yo

[2017-06-13 04:35] maximecb commented on #31
Now that we have a hidden closure argument implemented (see #36), it should be possible to access all functions currently live by traversing the stack.

[2017-06-14 02:20] tommyettinger commented on #39
This is something to be... careful about. A good cautionary reference is .NET's System.Random implementation, which is known to have improperly implemented the algorithm it states it uses in its documentation, but must stay using that incorrect, possibly-significantly-flawed algorithm because users are relying on given seeds producing the same output between .NET versions. References for the bug a

[2017-06-14 02:26] maximecb commented on #39
The one upside we have is that every library in ZetaVM is going to be versioned. So we can keep version zero of the random number generator, even though we supersede it with a patched version.

For the default RNG, I want something that will be reasonably fast. It doesn't need to be crypto-safe.  It needs to be fast because there are applications such as raytracing where this is important.

Would

[2017-06-14 03:10] tommyettinger commented on #39
Sure thing. I haven't even cloned the project yet, and I don't have any idea what this would entail -- would this PRNG make sense to be written in Zeta's textual bytecode? In C/C++? In Plush and compiled to a .zim file? A possible issue might be that I primarily develop on Windows (7), and I've hit issues before with VMs and other language-development projects (most recently, a project that seems

[2017-06-14 03:21] maximecb commented on #39
The easiest way would be to code it in the Plush language (.pls files). It's kind of like JavaScript-lite. You could write the bytecode directly, but it might be kind of a pain. I think that eventually we might be able to compile C/C++ or even machine code into the Zeta IR, so that we can support existing code, but that will take a while.

Right now everything is interpreter, there is no JIT compi

[2017-06-14 05:31] tommyettinger commented on #39
It's mostly on its way to working on Windows. Most of the file reading/opening operations are sensitive to the CRLF line endings that are hard to avoid, so I appended a `b` mode modifier to all the `fopen` operations in my fork, https://github.com/tommyettinger/zetavm , which makes it use LF on Cygwin at least. It's still not passing `make test`; it fails trying to call `math.sin` with the error `

[2017-06-14 05:44] tommyettinger commented on #38
Are they defined for (the many possible values of) NaN? Should Zeta just react to any NaN appearing with an exception? I know there are cases where it's a reasonable value that can occur and may need handling, I believe mainly in various matrix math things. There's a lot of weird things with NaN though, like the trick used to puzzle newcomers to the Clojure language (often to annoy trolls) where s

[2017-06-14 12:50] maximecb commented on #39
Hm. I don't have a windows machine to test this on, but I thought the code would have handled it.

[2017-06-14 12:56] maximecb commented on #38
I was thinking that to maximize performance (by avoiding dynamic checks) we would use the same semantics as C when it comes to NaN, that is, if you feed NaN into the input, you get NaN as output.

You can test for NaN, by checking that a value is not equal to itself. That being said, I'm in favor of adding an isNaN function, and an infinity constant.

[2017-06-14 15:31] Maaarcocr commented on #39
@maximecb we should add AppVeyor (it's similar to travis) to build and test on Windows. I will have a look on how to do that!

[2017-06-14 22:52] tommyettinger commented on #39
Actually it isn't the text editor that causes the problem, surprisingly. zetavm didn't have a `.gitattributes` file in the version I forked, so it would use the platform defaults, which are usually "use CRLF when checking out on Windows, commit as LF". Unfortunately, the C and/or C++ standard library functions for dealing with files seem not to like CRLF when Cygwin is in use and binary mode (Unix

[2017-06-15 03:20] #43 closed

[2017-06-15 03:21] maximecb commented on #31
Closing this for now, but feel free to open other GC issues when you resume work on that task (or to reopen this one).

[2017-06-15 03:21] #31 closed

[2017-06-15 03:22] maximecb commented on #3
I've implemented the jump optimization. The generated code size is now smaller, but there is no measurable speedup. This leads me to think that function calls, and the lack of string interning in Higgs, are likely much bigger performance issues.

[2017-06-16 03:34] tommyettinger commented on #39
I'm making progress. I can update my Zeta/Plush code now and test it on this Windows machine, and the next step is getting all the bitwise mechanics in-place. The PR I just sent, referenced above, should add most of the bitwise operators that I can think of. There are some potential issues in corner cases, but generally this would be a problem only if people start pushing the limits of normal bitw

[2017-06-16 04:04] maximecb commented on #39
Happy about the bitwise ops PR.

I believe assignments are usable as expressions, but I personally would avoid writing code that does this, as it makes the code harder to read.

[2017-06-16 11:04] krypt-n commented on #3
Indeed, string stuff seems to be the current bottleneck. 45% of the time is spent converting `String`s to `std::string`s for comparison in `getSlotIdx`. A straighforward fix (use strncmp instead of converting to `std::strings`) brings some speedup:
[code]

Would you want a PR for that or do you want to implement string interning right away?

[2017-06-16 11:13] krypt-n commented on #3
Another low-hanging fruit is to move the `getSrcPos` call into the if in `checkArgCount`:
[code]

[2017-06-16 15:22] maximecb commented on #3
Nice profiling work. Yes I think it would make sense to apply those fixes right away. It would motivate the troops if Zeta gains a nice 3x speed boost.

String interning won't be too difficult to implement because I already gave some [D code that does this for Higgs](https://github.com/higgsjs/Higgs/blob/master/source/runtime/string.d). It should be fairly straightforward to port. The Zeta version

[2017-06-17 03:27] maximecb commented on #3
I just implemented inline caching on function calls. It delivers a decent speedup.

Before:
[code]

After, with inline caching:
[code]

Interestingly, the fcalls and fib29 are about twice as fast. However, plush_parser barely changes, and other benchmarks get much less of a speedup. It's quite likely that object property lookups are most of the overhead there.

I will try to add inline caching to

[2017-06-17 10:30] krypt-n commented on #3
First, sorry for the delay

Combining the performance improvements seems to have quite the impact:

[code]

And trying to reproduce the comparison with python on my machine:
[code]
(python2 is a bit faster than python3, but still slower than zeta)

[2017-06-17 10:31] Maaarcocr commented on #3
I could try to implement String Interning if no one is already working on it.

[2017-06-17 11:39] maximecb commented on #3
@Maaarcocr Sure :)

[2017-06-17 11:53] maximecb commented on #3
@krypt-n We unfortunately aren't quite beating cpython yet. The fib36.zim benchmark isn't really a fair comparison, because it does no type checking, has no dynamic property lookups, etc. It's hand-written bytecode.

This is a bit more fair:

[code]

I will try to implement inline caching on object property lookups later today, and maybe that will help. Either way, we're quite close, despite the f

[2017-06-17 12:35] krypt-n commented on #3
Do you still have the chained-jump patch around? I am interested in how you implemented it and if it has has more benefits, now that the rest of the interpreter is faster.

[2017-06-17 15:44] maximecb commented on #3
It's already applied, should be able to find it in the commit log. It's not
very complex. It just avoids writing a jump when falling through to the
branch target directly.

On Sat, Jun 17, 2017 at 10:16 mfunk <notifications@github.com> wrote:

[2017-06-18 12:18] Maaarcocr opened #51 "Travis being slow."
Today, just to start building 2 PRs ( #49 #50 )  travis took almost 3 hours, and this is not the first problem it gives us (when we moved repo it stopped building). Ideally we would like to have our CI to be as stable and fast as possible.
Should we try CircleCI? I could try to set it up in my repo and then for a first period we could have both CIs testing our code to see which one is the best one

[2017-06-18 15:42] maximecb commented on #51
I'm open to it. The best would really be to use a service that has linux, windows and macos machines.

[2017-06-18 15:58] Maaarcocr commented on #51
As far as I know there is no such thing :( Most services have Linux + MacOS.
AppVeyor is the only one that has Windows, but they only do that.
I guess the best option is to have one service for Linux and MacOS and AppVeyor for Windows.

I'll try out Circle to check if they have a decent version of gcc and if we can run MacOS tests there.

[2017-06-18 20:07] tommyettinger commented on #51
I'm not sure how AppVeyor works, but I should mention that I've only run the build and tests using Cygwin, and there are various alternatives to Cygwin that might be preferable on their CI service. Cygwin makes various changes to how paths work while in a Cygwin Bash shell, to try to let Unix-based applications run with minimal changes. I'll see if I can run GNU Make and build ZetaVM from a normal

[2017-06-18 20:56] tommyettinger commented on #39
Almost there... I submitted PR #49 to finish the existing code that sets elements in arrays. Now I'm not limited to a PRNG with a period of 2 to the 32, and can use an array of state values to improve the period and quality.

Should this go in a file called `plush/random.pls` ? Is there a different place it should go?

[2017-06-18 21:16] maximecb commented on #39
@tommyettinger Awesome!

You can put it in packages/std/random/0/package. This will be importable in code with `var random = import "std/random/0"`.

[2017-06-19 23:27] maximecb commented on #51
@Maaarcocr Trying to enable appveyor on zetavm... Yay it worked 👍

[2017-06-21 03:39] maximecb commented on #51
Closing this for now.

[2017-06-21 03:39] #51 closed

[2017-06-21 03:41] maximecb commented on #39
@tommyettinger Curious to know how you think your RNG will perform. Is the size of the state tunable? I'm asking because I might need to generate noise on the fly for audio generation.

I guess we can add an RNG benchmark to our set when you have it working :)

[2017-06-21 03:50] maximecb opened #55 "Command-line argument parsing"
I think that we will eventually need to have command-line argument parsing for ZetaVM. This will be needed in order to set various parameters (eg: to disable the JIT compiler, or set the initial heap memory size). I'm kind of allergic to external dependencies, so I would rather we roll our own.

I kind of like the way V8 does it, which is a syntax of the form:

[code]

For example:

[code]

The ar

[2017-06-21 04:51] tommyettinger commented on #39
Tunable state size would be nice. I'm currently debating either:
  - Defaulting to a 1024-bit state array, or 32 int32 in an array plus another outside of it. I have found good constant values to use, but they're just good, not great (with them, it passes many quality tests, but not all, with two failures on PractRand's 32-bit folding mode).
  - Defaulting to a larger state array if I can find a t

[2017-06-22 07:18] tommyettinger opened #56 "Overflow in arithmetic causes Zeta to crash"
You can test this easily by adding the test line:

[code]

To any test you want, like simple_exprs.pls.  For me on Windows 7, this gives a rather useless standard-Windows-OS error with this set of details:

[code]

I'm not sure precisely why this is, but I suspect the Word union didn't get fully updated to use 32-bit math while it allows 64 bits internally, and perhaps overflowing is setting bits

[2017-06-22 08:30] krypt-n commented on #56
This is currently expected behaviour, since zeta is compiled with `-ftrapv`. With this flag, gcc emits code that aborts the program if an overflow or underflow occurs.

[2017-06-22 14:07] maximecb commented on #56
Ok done. It works now :)

[2017-06-22 14:07] #56 closed

[2017-06-22 23:42] tommyettinger commented on #56
Nice work on the fast fix! This definitely fixes any issues I was having, so the random number generator PR is incoming.

[2017-06-23 00:17] tommyettinger commented on #39
OK, PR submitted. The version that I wound up using in the PR has about a 2080-bit state (could also be considered 2048-bit), and passes PractRand across the board with nothing worse than 1 or 2 anomalies out of over a hundred tests, and they're classified as merely "unusual", rather than "suspicious", "very suspicious", "VERY SUSPICIOUS", or "FAIL".

It isn't the fastest algorithm, but that isn't

[2017-06-23 05:37] maximecb commented on #39
I'm happy to see the end result! It's nice that you took the time to rigorously test the algorithm as well. Curious to know how you came to acquire your RNG expertise :)

[2017-06-23 09:06] tommyettinger commented on #39
It's a good question... I started off wanting to improve some speed problems an existing library was having with a bad, extremely-slow multi-threaded Mersenne Twister implementation, then implementing ,many of the better generators at [this PRNG benchmark site](http://xoroshiro.di.unimi.it/) in Java for the library, then moving on to hashing algorithms, getting inspiration there and moving back to

[2017-06-23 09:07] krypt-n commented on #56
Note that this change speeds up the benchmarks a little bit, since there are no frequent calls to overflow-checking operations anymore.

[2017-06-23 15:25] maximecb commented on #56
That's funny. I know we can get a bit of a speedup by disabling asserts too. Right now that's unsound because some of the asserts are performing necessary runtime checks, but I will eventually replace all type  and bound checks by explicit checking instructions in the VM, so that we can optimize them away.

[2017-06-26 13:03] maximecb opened #58 "Global & local package names, feedback wanted"
Soliciting opinions & feedback regarding this issue. This is an problem that we have to address before the zeta package manager goes online, and preferably should be solved early on.

Currently, when you import a package in Zeta, there's a non-trivial amount of logic going on in `packages.cpp`: https://github.com/zetavm/zetavm/blob/master/vm/packages.cpp#L496
https://github.com/zetavm/zetavm/blob/

[2017-06-26 14:17] Maaarcocr commented on #58
Another option would be to use something like:
[code]
for global packages. I'm not really sure if this is any better than the : syntax.

Another option is that all local packages must have a path like: './my_module/my_file'

[2017-06-27 01:55] maximecb commented on #58
I guess the C preprocessor did solve that very same problem. Copying C's include syntax would have the advantage that it's something people are kind of familiar with. However, it seems redundant to have both quotes and angle brackets. I want people to be able to use global package names to launch programs from the Zeta command line (eg: for the REPL, but also if you want to publish programs throug

[2017-06-28 04:09] maximecb commented on #58
@Maaarcocr I actually tried the colon name approach, and after some further thought, I think your suggestion makes more sense.

Having the angle bracket syntax for import makes it more secure, because it means we can truly have a "global import" and a "local import" mode. The local import mode can read files on the file system, and should probably be disabled by default, eg: disabled unless you sa

[2017-06-29 08:09] Maaarcocr commented on #58
With local import turned off by default, would that mean that it would need to be implemented by implementers in their langauge? For example, they would need to do something similar to what you do for runtime.pls in cplush, wouldn't they?

[2017-06-29 15:17] maximecb commented on #58
I've changed my mind. Local imports won't be turned off by default. I've actually been giving this issue a lot of thought in the last few days, because it's tricky to get right, and the package system is a crucial feature.

Most importantly, I think that local imports need to be relative to the file being imported (as in Python). Currently, they are relative to the current working directory. Howev

[2017-06-30 21:00] #38 closed

[2017-06-30 21:00] #39 closed

[2017-07-01 13:32] maximecb commented on #4
Apologies, but I'm unfortunately going to close this issue for now and remove the associated code. I will be presenting Zeta at a conference next weekend, and I would prefer that people see working language implementations when looking at the repository.

[2017-07-01 13:32] #4 closed

[2017-07-01 13:36] maximecb commented on #2
Hi there. I will be presenting Zeta at a conference next weekend, and would rather people see working language implementations when they check out the repo. Are you able to progress on this in the meantime? If not, I may close the issue and remove the associated code.

[2017-07-01 15:28] meadori commented on #2
HI!  I do plan to continue with it (still haven't had many non-work cycles).  How much progress by next weekend?

[2017-07-01 16:00] maximecb commented on #2
If you are still working on it I will leave it there. Do you think you
could have if and function calls by next  Saturday? Need enough
functionality to build useful examples.

Make sure to git pull before resuming work because I made some minor
changes to keep it working.

On Sat, Jul 1, 2017 at 11:28 Meador Inge <notifications@github.com> wrote:

[2017-07-01 16:08] meadori commented on #2
Functions calls and if support by next Saturday seems reasonable.  I think I can do that.  If I don't hit it for some reason, then we can pull things into a branch (or I will keep the implementation in my fork).

[2017-07-01 18:03] maximecb commented on #2
Ok sounds good :)

On Sat, Jul 1, 2017 at 12:08 Meador Inge <notifications@github.com> wrote:

[2017-07-06 15:02] meadori opened #62 "Core VM identifier limitations"
While working on the Scheme implementation I discovered that the core VM has a somewhat limited set of legal identifiers (sequences of alphanumeric characters and underscores).  Scheme, OTOH, is quite permissive (interestingly, scanning is more complicated than parsing).  For example, many common functions end with '?' like 'boolean?'.

In order to support multiple language properly, Zeta will to

[2017-07-06 15:19] maximecb commented on #62
The reason it's limited in this way is that I wanted to keep things simple in the image format (ZIM files). Object field names have a number of limits on them.

However, in your language implementation, you can name your local variables whichever way you like. If you want to have a richer set of field names than what ZetaVM currently permits, one way to do so would be to basically escape your fiel

[2017-07-06 15:53] meadori commented on #62
I am not sure I follow the work around.  Eventually the identifier name has to be lowered to Zeta IR.  I can't just map "boolean?" to "booleanx3F" because someone could actually name something "booleanx3F".  That might be very unlikely, but if it did happen (Murphy's Law) it would be quite surprising.

ISTM that if the Zeta identifier set stays as is, then language implementers will have to implem

[2017-07-06 16:10] Maaarcocr commented on #62
I think that "booleanx3F" refers to the fact that you could use the escape sequence 0x3F (which is the same as using the char ?) when translating to Zeta IR.
If someone writes "boolean\0x3F", depending on how your language implements escaped characters, it could be equal to "boolean?", because they are actually the same string (if you think of strings as an array of characters and characters as ju

[2017-07-06 16:14] maximecb commented on #62
You'd have to escape the x character as well. Think C-style character escaping, with \n, \t, \\.

I think when I made this design choice, I intended to put some pressure on languages running on ZetaVM to use the same limited set of identifier characters. It's a forcing factor to try and make languages remain more compatible.

That being said, I agree that it would probably mostly get in people's w

[2017-07-06 16:21] Maaarcocr commented on #62
For the sake of coherence, shouldn't also set_local accept the same kind of input? (Maybe it already does, I'm not sure)

[2017-07-06 16:27] meadori commented on #62
I must be missing something.  I understand that 0x3F is the ASCII equivalent of '?', but I don't see how you can actually escape an identifier in the IR.  Consider the following:

[code]

I currently can't write that because `isValidIdent` chokes on it.  How can I escape it?

[code]

That won't work either because the identifier parsing code doesn't allow for escapes.  Even if it did, then it stil

[2017-07-06 16:48] maximecb commented on #62
@Maaarcocr set_local takes an index number. A stack frame slot index. The VM itself has no notion of local variable names, except for function parameters.

@meadori Aaah, no. What I meant is that I might allow escaping of field names, eg:

myObject = {
  "thefield?": 3
};

This can be useful if you have a "global object" in which you store your global variables, as Plush is doing.

However, the na

[2017-07-06 16:52] Maaarcocr commented on #62
My bad, I don't know what I was thinking.

[2017-07-06 17:40] maximecb commented on #62
Thanks for voicing your concern. I will add the string field names to my TODO list. It might take a bit though as I will be at PolyConf in Paris for the weekend, and need to work on my presentation some more. Then there's a refactoring of the package lookup system that I want to do. It will get done though :)

Can you keep progressing in other areas in the meantime?

[2017-07-06 18:55] meadori commented on #62
I can!  I implemented a simple name mangling scheme in the meantime.  See #63.

[2017-07-08 03:18] meadori commented on #2
I got the `if` work in, but I am still working on full function definition and application support.  It will be a couple more days.  I understand if you need to pull the implementation from the main repo.  I will finish it off in my fork.

[2017-07-08 07:01] maximecb commented on #2
Will give you more time. Glad to see you're working on this again :)

[2017-07-11 02:22] maximecb commented on #62
I implemented arbitrary strings as property names in commit 3a43d53940bc4c5e3b2562eb5f0e2fd45767129c today :)

[2017-07-11 02:22] #62 closed

[2017-07-11 13:41] krypt-n commented on #3
So, how do you want to proceed here?
* Threaded Interpretation kind of contradicts compact IR, since all opcodes need to be full pointers
* Is the fusion of common op sequences meant to be dynamic or static?
* Another approach could be to improve the code generators of plush and/or the other languages

[2017-07-11 15:11] maximecb commented on #3
Yes and no. The pointers would replace the opcodes in the flat IR. It would be less compact, but still much more compact than the object-based IR. I think the obvious thing to do here would be to benchmark both. Full pointers will mean bigger bytecode, which is worse for the instruction cache, but I think it might still win, that's what the conventional wisdom says anyway, that direct threaded is

[2017-07-14 12:30] krypt-n commented on #3
I'm gonna give it a shot

[2017-07-14 15:26] maximecb commented on #3
Curious to see what results you get! :)

[2017-07-14 17:07] krypt-n commented on #3
current master:
[code]

Hmm..well
* I implemented threaded interpretation based on gcc computed gotos: https://github.com/krypt-n/zetavm/tree/threaded

[code]

...and it is not faster. Additionally the current version is probably incorrect since keeping a writable `op` reference around makes it even slower, so I replaced it. I don't know why it's slower, the generated assembly looks okay, but I'm

[2017-07-14 17:40] maximecb commented on #3
I'm not sure. It might have to do with alignment. Possibly, in order to get the best performance possible, we might have to make sure that every value stored in the code heap is aligned. The fact that even loop_cnt_100m slows down tells us that this is probably not a matter of code getting too big and not fitting in the cache.

Nice. Sizeable difference on the loop_cnt_100m benchmark from combinin

[2017-07-14 18:03] krypt-n commented on #3
I did look at execution traces to choose the three combinations I implemented, but more structure, especially regarding branching and controll flow would indeed be useful.

I agree that a map is overkill for the few cases that are actually gonna be usefull and I'll replace it, but I think that the combination of instructions needs to stay seperated from the "compiling". A single `(Object, Object)

[2017-07-18 20:03] Maaarcocr opened #66 "Garbage Collector implementation"
TL;DR This is my attempt of implementing a garbage collector for ZetaVM, if you have any suggestions please comment.

In the next few weeks I'll try to implement a first version of a garbage collector for ZetaVM.
Right now the VM is missing one, so it is relatively crucial to have one. I can't promise an incredibly good Garbage Collector, mainly because this is also my first Garbage Collector. It

[2017-07-18 20:34] maximecb commented on #66
There is one extra complication which you are probably not thinking of. That is, there can be some extra roots, heap-allocated values which are not referenced through the stack. The interpreter, the runtime, and functions in the core packages can refer to objects directly through `Value` instances, or through wrappers like `String`, `Object` and `Array` (which internally contain a `Value` instance

[2017-07-18 20:58] Maaarcocr commented on #66
This is what my second point in my list refers to, maybe I phrased it in a bad way.

[2017-07-18 21:33] Maaarcocr commented on #66
About objects such as global_obj:
Do we want them to be "global" and never be garbage collected or?

[2017-07-18 21:36] maximecb commented on #66
Just to make sure we're on the same page: there are two distinct sources of roots for the garbage collector. The stack that the interpreter uses to execute, and the `Value` objects that are created in various places in the Zeta program. You can't get at those by traversing the interpreter stacks. You can't call a function that will return a list of them. There has to be logic in the `Value` object

[2017-07-18 21:46] Maaarcocr commented on #66
Yes, this is what I meant by: Implement a LinkedList which will contain all the Values with allocated memory. Every time a value such as an Object, Array or String is created it will get appended to the LinkedList.

I can see this becoming quite slow, or maybe I'm wrong. If we have a very long call stack with very long function, going through all their instructions could be quite expensive.

Also,

[2017-07-18 21:59] maximecb commented on #66
It's kind of normal though. Every object that has been allocated has to be traversed. The only way to avoid that is a generational GC. Still, it might be surprisingly fast. Even with 100 million objects, we can do the traversal in 100 milliseconds or less. We can also make the mark phase multithreaded later on.

No, we want to keep those alive. There should be no special handling necessary though.

[2017-07-19 03:58] maximecb opened #67 "Image Serialization"
ZetaVM uses a text-based file format ([ZIM files](https://github.com/zetavm/zetavm/blob/master/tests/vm/ex_image.zim)) to store code and data. This file format resembles JSON, with the important difference that it can represent arbitrary graphs of objects. Zeta needs to have not only the capability not only to read graphs of objects from ZIM files, but also to reverse this process, and serialize g

[2017-07-19 11:07] Maaarcocr commented on #66
I don't know why yesterday night I thought we had to go through the instructions as if they were still in a textual format. My bad, now it make more sense.

So at every mark phase I would also mark the Values inside this vector, right?

I will read the notes tonight. I may first try to implement a very basic mark and sweep as a learning experience and then change it to a lazy sweeping (if possible

[2017-07-19 16:21] maximecb commented on #66
If the `Value` objects add themselves to a linked list, then the GC can just mark all the roots in that list.

Take a look at the code I [linked to here](https://github.com/higgsjs/Higgs/blob/master/source/runtime/gc.d#L60). I would like `Value` to behave like `GCRoot` did in that code.

Sure, that's fine. The most important thing for the first version is that it works correctly :)

[2017-07-20 03:23] maximecb commented on #66
I added some garbage collector tests I had written for the Higgs project to the repo: https://github.com/zetavm/zetavm/commit/c472a6c937376955836c049941eb1d8818a1bce3

We can port some of these to Plush in order to test your GC once it begins to work. As you can see in the code, I was relying on a few special instructions and runtime functions:

- `$rt_shrinkHeap` to shrink the size of the heap, a

[2017-07-21 03:18] maximecb commented on #58
Made it so that local package imports have to start with ./, as this seems like the simplest solution.

[2017-07-21 03:18] #58 closed

[2017-07-23 12:00] ashwanidausodia commented on #55
Anybody working on this???

[2017-07-23 17:25] maximecb commented on #55
Noone is working on it. You're welcome to take a stab at it 👍  :)

[2017-07-24 01:22] maximecb commented on #66
Hey @Maaarcocr, did you have a chance to get started on the GC? Hit any technical obstacles?

[2017-07-24 16:33] ashwanidausodia commented on #55
#### Regarding the design
There can be a header-only implementation of the Parser. It can take a list of expected arg options and user provided arguments.

You can declare expected arg option as
[code]
or, If type is bool and short name is not there.
[code]
Also type can be omited if it is BOOL. Then, create a parser and tell it to parse.
[code]
And then you can query like
[code]
also
[code]
I was

[2017-07-24 16:53] maximecb commented on #55
I like your design overall. I would declare the options in `main.cpp` if possible, because that seems like the most sensible place.

Regarding the use of initializer lists:

[code]

It might actually work better if you use optional arguments to a constructor, because for integers, we may want to have things like minimum and maximum allowable values, which are going to be optional. Otherwise, at th

[2017-07-25 02:32] Maaarcocr commented on #66
@maximecb I did! I've started my first point. I'm sorry for not being quick, but I'm attending a Microsoft competition for students and it's being a bit intense.

[2017-07-25 03:18] maximecb commented on #66
@Maaarcocr No rush :)

[2017-07-26 22:17] Maaarcocr commented on #66
@maximecb I'm actually hitting a block now.
I'll describe the situation:
So we start the program and the VM starts reading the bytecode, while doing so it creates the objects that represent the code. If the code is large, we may hit the GC, but nothing is on the stack yet. Can this happen?

[2017-07-27 01:53] maximecb commented on #66
That shouldn't be a problem, because the VM interleaves code generation and execution, so it won't compile very much before execution is started.

Besides that, if we use `Value` objects in the VM to refer to GC'd values, then it doesn't matter if things are on the stack or not, because we're still keeping track of these references.

[2017-07-28 15:32] ashwanidausodia commented on #55
Based on these three points I have tweaked the design a little bit. Since, we may have to validate the value (e.g. minimum and maximum allowable values), the validation has to be moved out of parser. It will also make parser more generic.

Now you can declare arg as

`Arg option{'i', "init_heap_size", handler)`

Unlike earlier you don't have to tell the type of arg but you have to provide a `handl

[2017-07-28 17:52] maximecb commented on #55
Seems fairly good. I see two weak points:

1. This design makes it possible to forget to initialize values. Most values are going to be optional, so we should probably make the handlers require a default value.

2. The arg parser has no knowledge of what types the values have, or what their default values are. This is going to be a problem if we want to auto-generate `--help` output.

I think it m

[2017-07-28 23:14] maximecb commented on #55
Well done @ashwanidausodia

Is your parser currently able to handle program arguments too?

ie: extracting args after the `--` in:

[code]

These arguments should be placed in an std::vector so that we can pass them to the running program.

[2017-07-28 23:22] ashwanidausodia commented on #55
Yes it does, You can call `getProgramArgc()` and `getprogramArgv()` functions on OptParser().
For this example.
[code]
`getProgramArgc()` will return 3
`getProgramArgv()` will return a char*[]
I forgot to write test case for these. I'll add them.

[2017-07-29 05:43] maximecb commented on #67
Completed the first version of this feature. See: ae8a99cc56d48fccf50837e8bac99584cb274547

There is one issue in that we can't serialize references to imported host functions (core packages). This means we can't transitively serialize a whole program. Will have to make it so `parser.pls` doesn't bake runtime function references directly into the code it compiles, but instead makes the compiled co

[2017-07-30 04:57] #67 closed

[2017-07-30 05:23] maximecb commented on #55
Hi @ashwanidausodia

I'm working on adding support for program arguments to ZetaVM. I'm finding the current interface with `getProgramArgc` and `getProgramArgv` kind of cumbersome. Could you instead implement a `getProgramArgs` which returns an `std::vector<std::string>` ?

[2017-07-30 06:50] maximecb commented on #55
Tadaaaaa: https://github.com/zetavm/zetavm/commit/1ea056773cbae35017ec3b82d3e3bad00c8e5f8b

:+1:

[2017-07-30 15:48] maximecb commented on #55
@ashwanidausodia Thanks for making this change. I think the next step, if/when you have time, would be to generate `--help` usage information.

[2017-08-01 05:29] ashwanidausodia commented on #55
Yes, short name is optional

[2017-08-01 06:08] maximecb commented on #55
@ashwanidausodia Would you have time to implement `--help` with generated program usage information?

[2017-08-01 06:25] ashwanidausodia commented on #55
This week I am busy. Maybe weekend

[2017-08-01 06:29] maximecb commented on #55
Ok no problem. I appreciate the work you've done so far :)

[2017-08-01 07:34] pgregory opened #72 "Implement "A Little Smalltalk""
I'd like to explore creating a version of Tim Budd's "A Little Smalltalk" on top of ZetaVM, perhaps as a precursor to a more fully featured Smalltalk.

[2017-08-01 17:31] maximecb commented on #72
That would be cool. I like minimalist languages. Do you have any questions about ZetaVM and which direction to go in to implement certain features?

[2017-08-01 17:43] pgregory commented on #72
I'm looking through the code at the moment, getting familiar with it.

I have plenty of experience with LST, so just need to work out how to transfer my existing knowledge of parsing LST syntax into Zeta. Once I've done that, I'm not clear at the moment how best to implement the standard library, but that can wait.

One question, would you recommend C/C++ or Plush as the best option for generating

[2017-08-01 18:10] maximecb commented on #72
That probably depends on your level of comfort.

The self-hosted Plush parser, what I call the Plush language package (plush/parser.pls) generates code directly in memory. I think that eventually, this is the way every language should be implemented on Zeta. It makes it easy to implement a REPL, or things like eval.

The downside is that Plush and the way parser.pls is structured are still in flux

[2017-08-01 18:24] Maaarcocr commented on #66
I just finished the get_stack_values function! I'm not sure what would be the best way of putting my code in the zeta repo. Right now most of the development is done in my fork and I'm okay with it. But if we want to also have a branch here that contains the GC code and to which I will make Pull Requests, so that I can have a better code review cycle, then I'm also okay with doing that.

[2017-08-01 18:42] maximecb commented on #66
Good idea. I created the branch `gc-proto` which you can make PRs to. I recommend still pulling in changes from master frequently.

[2017-08-01 18:49] Maaarcocr commented on #66
Okay perfect! Yes, I will rebase on master often!

[2017-08-01 19:51] pgregory commented on #72
"Comfort" doesn't come into it, what's life without an adventure? :)

I'll investigate the Plush method and see if I can get my head round it. Thankfully the LST syntax is very simple, so shouldn't be too challenging.

[2017-08-01 20:43] maximecb commented on #17
Closing for now. Will be writing a guide on how to contribute to the project.

[2017-08-01 20:43] #17 closed

[2017-08-01 20:46] maximecb commented on #72
Good. Then I encourage you to write your parser in Plush, in the manner that `parser.pls` is written. This will ultimately make it possible to upload your Smalltalk parser to the Zeta package manager, and give "native" Smalltalk support to Zeta, by adding a `#language lang/smalltalk/0` line to the beginning of source files.

Speaking of which, do you have a name your package would go by? How about

[2017-08-01 21:15] pgregory commented on #72
littletalk works.

On Tue, 1 Aug 2017, 9:46 pm Maxime Chevalier-Boisvert, <
notifications@github.com> wrote:

[2017-08-01 21:45] maximecb opened #73 "String library (std/string)"
The core VM doesn't provide very much in the way of string functionality. Just support for immutable UTF-8 strings with string interning. It seems it might be beneficial to write a standard library that has a collection of useful string functions. This is particularly relevant since ZetaVM is a tool for language implementation, and we necessarily do a fair bit of string manipulation as part of par

[2017-08-01 21:52] krypt-n commented on #73
Ah, I was just writing an issue about something like this.

* Some of these functions also apply to arrays (substr and indexOf), so an array support library could be added aswell.

* These functions would probably need to understand UTF-8 eventually

* I'd also propose a simple version of the python string formatting with {}s

[2017-08-01 21:58] maximecb commented on #73
Yes, an array library would be useful as well. The function names could be intentionally made similar between the libraries (ie: both libs can have `indexOf` and `concat` functions with the same arguments). I wouldn't necessarily recommend sharing code between the two, however, because different instructions will be used to implement string vs array functionality.

Yes, we should try to be as UTF-

[2017-08-01 22:00] maximecb commented on #73
@krypt-n Please do! 👍  :) This is going to be a good step towards making Zeta/Plush more usable.

[2017-08-01 22:05] krypt-n commented on #73
I don't mean supporting (program)variable names in the format strings, just something like `'{} {}'.format(1, 2)` (instead of printf syntax). That can easily be implemented without language support.

[2017-08-01 22:11] maximecb commented on #73
Yes that seems workable. Zeta doesn't have variadic functions yet though. Another possibility would be to use an object as a namespace for substitutions:

[code]

I think we should make it so every string library function takes a string as their first argument. Then in the Plush runtime, we can create a string prototype object that is used to do method lookups. That is, the Plush language can expo

[2017-08-02 00:27] maximecb opened #74 "Improving User-Friendliness"
I think there are probably many small things we can do to make Zeta more user-friendly. You may be getting cryptic error messages, running into strange bugs, segmentation faults, or odd behaviors.
This is the place to report these kinds of problems. Small issues like these often go unreported, and may discourage people from using Zeta. By telling us about them, you can help us fix them, add new te

[2017-08-02 11:55] krypt-n commented on #74
Stacktraces on assertion failure would help debugging.

[2017-08-02 19:22] maximecb commented on #72
I started moving some of the parsing functions into their own library, so people can reuse them: https://github.com/zetavm/zetavm/blob/79d3c8325e5678d7e4fc87e251c6abec2f7426d5/plush/parsing.pls

[2017-08-03 12:17] krypt-n commented on #73
Should the testcases be included in the library package?

[2017-08-03 12:57] maximecb commented on #73
Good question. So far I've been putting them in a separate file. You could put yours under `/tests/plush/strings.pls`.

Eventually when we have a package manager, it might make sense to have a standard way of putting tests in packages themselves, but I haven't worked out how that should be done.

[2017-08-03 22:56] Maaarcocr commented on #74
It would be good to have an unified way of doing documentation.
I wouldn't add it to ZetaVM directly, but maybe creating a library in plush (or any other language) that can help adding documentation comments support for the implementers would be cool. Also, we would have an unified style for the generated documentation (I guess it would an HTML file)

[2017-08-04 02:16] maximecb commented on #74
You mean a Plush library to do documentation comment parsing and generate HTML (or markdown) ?

[2017-08-04 10:09] Maaarcocr commented on #74
Yes. We can surely use an existing tool, but it would be good to have just one way of doing documentation for all the languages (imo).

[2017-08-04 11:50] maximecb commented on #74
Would have to think about what that is. I suggest opening another issue. The main problem I see is that different languages will have different sets of features. So, we can document functions and declarations, but some language may have classes and others not, etc. Zeta can support having comments attached to functions themselves, like Python doc strings, but unsure how far that gets us. There are

[2017-08-05 23:11] boomshroom commented on #73
This would be nice and quite useful.

One feature I'd like to see is a way to override the printing facility for custom types. In the language that I'm designing for this VM, I has string() methods on each of my AST types to assist with debugging.

Another thing that may be out of scope for this package, but would be nice to see, is grapheme cluster indexing. Rather than advancing by byte or by un

[2017-08-08 20:01] maximecb commented on #73
@boomshroom @krypt-n We could make it like JavaScript, and check if objects have a `toString` method which we can call. That seems like the simplest solution.

I don't know how that works, but open to adding it to our wishlist.

[2017-08-12 16:58] maximecb commented on #55
Will close this issue for now. I think the implementation by @ashwanidausodia satisfies all the requirements for the moment being 👍

[2017-08-12 16:58] #55 closed

[2017-08-12 17:07] maximecb opened #78 "Array library (std/array)"
In a similar vein to https://github.com/zetavm/zetavm/issues/73, we should create a library of useful array functions. These functions should, where it makes sense, use the same naming and argument conventions as the string utility library.

This library should be written in Plush, and the package should go under `std/array/0`.

Functions we probably want to see:

- [x] `indexOf`

- [x] `contains`

[2017-08-12 17:09] maximecb commented on #2
@meadori How's things?

[2017-08-13 08:01] ashwanidausodia commented on #78
@maximecb What would be the semantics of `replace` function?

[2017-08-13 08:07] maximecb commented on #78
@ashwanidausodia Good question. I would say replace based on identity comparison (Plush `==` operator semantics).

[2017-08-13 08:45] ashwanidausodia commented on #78
I have one question. If array is separate package you have to write
[code]
NOT
[code]
Tell me if I am wrong.

[2017-08-13 17:39] maximecb commented on #78
That's right, but we can "cheat"

We can make the `rt_getProp` function of the Plush runtime (plush/runtime.pls) do a lookup of array methods on an array prototype object which maps to these functions. So, in that way, of array methods are written with the array as the first argument, language runtimes can reuse them.

[2017-08-15 02:47] maximecb commented on #78
Added `arrayEq` function

[2017-08-15 09:43] krypt-n commented on #78
`sort`, `contains` (`indexOf != -1`) and `binary_search` would be usefull additions to this.

[2017-08-15 09:47] krypt-n commented on #78
Oh, and in the future we might want read-only slices that are only views into the original array but can be used like arrays.

[2017-08-15 13:01] maximecb commented on #78
@krypt-n `sort` and `contains` are definitely good suggestions. What would `flatMap` do?

[2017-08-15 13:09] krypt-n commented on #78
While map takes a function that produces a single element and applies it to an array, flatMap takes a function that produces an array of elements and concatenates them.

Consider

[code]

[2017-08-15 13:12] maximecb commented on #78
@krypt-n I've never really seen that used before, but I'm open to it being included, sure.

[2017-08-15 13:44] krypt-n commented on #74
I'm taking a look at stacktraces right now and it seems that virtually all functions in plush are currently unnamed, which limits the usefulness a bit. How do other languages with a lot of unnamed functions handle this?

[2017-08-15 14:57] maximecb commented on #74
@krypt-n I had to address that issue in Higgs / JavaScript as well. What we can do is have a simple pass in the Plush parser that traverses the AST and finds patterns of the form:

[code]

And assigns the variable/field name to the function's `name` field.

[2017-08-15 15:00] maximecb opened #82 "Stack traces on exceptions & assert"
Currently, every call site has an src_pos attribute which we can report in the stack trace.

@krypt-n pointed out that we may want to make sure to set the `name` attribute on every function, as much as possible. This will have to be handled at the parser level.

Another issue we need to discuss is that currently, `assert` maps to the `abort` instruction in the VM, which halts program execution. We

[2017-08-15 15:00] maximecb commented on #74
@krypt-n Created issue #82 for stack traces.

[2017-08-16 01:28] maximecb commented on #73
@krypt-n I just merged your pull request. Well done.

[2017-08-16 01:28] #73 closed

[2017-08-17 00:33] maximecb commented on #78
@ashwanidausodia I've updated the list so we have checkboxes for what's completed and what's missing. There are 4 functions remaining. Will you have time to complete the rest of them?

[2017-08-17 00:47] maximecb opened #83 "Map library (std/map)"
There is a need for a hash map library, particularly given that the core VM doesn't support the use case of objects being used as dictionaries. I think that this can be made fairly efficient once we have a JIT compiler. It's something I would prefer we implement in userland rather than in the VM itself. There are logical reasons to do this, the main one being that hash maps require hash and equali

[2017-08-17 01:07] maximecb commented on #3
Closing this for now. Will open more specific issues when we get to inlining, etc.

[2017-08-17 01:07] #3 closed

[2017-08-17 03:00] maximecb commented on #82
@krypt-n Do you have an opinion on the `assert` vs `throw` issue?

[2017-08-17 13:52] krypt-n commented on #82
It's a bit hard to use, since we can't look at the call site during stack unwinding. Only the return adress is known. My current solution emits additional src_pos at the first instruction of the return block. But maybe I should add call site information to the stack somehow?

The central question seems to be whether we want to keep an `abort` instruction in the VM, since removing it would be an ba

[2017-08-17 14:51] maximecb commented on #82
This is why I added a `retEntry` map in `vm/interp.cpp`. So that we can associate meta-information with return addresses (each one has an associated `RetEntry`). We should probably store the associated call instruction in there too, so that we can call `getSrcPos` on it.

I think you're right that this is the important question. At this point I'm not worried about backwards incompatibility. Zeta i

[2017-08-17 15:19] krypt-n commented on #82
Multiple calls could return to the same block. A possiblity would be to always store the latest call instruction in the RetEntry, but I am sure that one could construct a recursive control flow where this causes wrong stacktraces.

Pseudo edit: I just noticed that callFun pushes the call instruction to the stack, funCall does not.

[2017-08-17 15:22] maximecb opened #84 "Spinning out the Plush runtime as a standalone library (std/runtime) ?"
This issue is to discuss a potential idea.

One of the things I'm working towards is fully bootstrapping the Plush implementation. There are currently two implementations of the language. The `cplush` one, which is written in C++, and the self-hosted Plush language package (in `plush/plush_pkg.pls`).

I've been slowly working on giving the VM the ability to serialize code into ZIM files, which wou

[2017-08-17 16:21] meadori commented on #2
Hi @maximecb, I am still interested in it, but things are still sort of crazy at work.  So, not much OSS time.  I do have some local patches for function call and definition support that I plan to clean up and push this week.

[2017-08-17 22:02] maximecb commented on #82
Ah! Thanks for pointing out this issue. I actually want to make it so each return address maps to a different call site. I can force the internal codegen to behave that way. It should simplify things a bit.

And I think I should probably rename one of these functions to avoid the naming confusion :O

[2017-08-22 01:46] maximecb commented on #82
@krypt-n I made it so `RetEntry` objects are unique to a given call instruction, and the `RetEntry` struct has a `callInstr` field: ad68e9909c70b7355ca04ffddbac4efec46a15f3

[2017-08-26 07:43] larsbrinkhoff commented on #2
Obviously, it should run ZetaLisp.

[2017-08-26 15:43] maximecb commented on #2
@larsbrinkhoff It's really too bad that name is taken ;)

[2017-08-26 16:25] larsbrinkhoff commented on #2
I know, but I don't think it's a bad thing. :-)

[2017-08-26 16:28] maximecb commented on #2
@larsbrinkhoff If we do implement a LISP though, I would want something a bit simpler and more modern than the programming language equivalent of ancient greek.

[2017-08-26 18:45] boomshroom commented on #78
Flatmap is related to monads, which take some container/monad T<V> and a function V->T<V> that operates on the inner value and bundles the output as a single T<V>. In Rust, Option also has the same monadic behavior using and_then.

Implementation wise, flatmap should be as simple as copying the map implementation and replacing push with append. That said, I think that with the dynamic typing, it s

[2017-08-26 19:06] boomshroom opened #86 "Clarify mapping of stack arguments to locals."
At the moment, it's rather unclear, even when reading the source code, which local variable corresponds to which function argument. For example, is the closure argument the first or last argument? If my params field is ["x", "y"], which index is assigned to each?

I'd understand if this is subject to change, but the lack of documentation is a minor stopping point for people trying to write their o

[2017-08-26 19:42] maximecb commented on #78
@boomshroom In general, I prefer more strict behavior (throw an exception). I think that having the implementation try to bend over backwards for the user leads to all kinds of corner cases, as in JavaScript's many semantic quirks.

[2017-08-26 19:46] vazzup commented on #83
Hi I'd like to help out with this. Could you guide me a bit through the steps please? :)

[2017-08-26 19:51] maximecb commented on #86
You're right. At the very least, we should document this in comments in `vm/interp.cpp`, and/or possibly create a document under `docs`.

The way that it works right now is that functions have a number of locals on the stack. This number must include the visible function parameters, and the hidden closure argument, so it has to be always at least 1. The closure argument maps to slot index 0. The v

[2017-08-26 19:56] maximecb commented on #83
The implementation of the `std/map` library will have some similarity to the implementation of the [`string` and `array` packages](https://github.com/zetavm/zetavm/blob/master/docs/packages.md). The code should go under `plush/map.pls` for now, and tests under `tests/plush/map.pls`.

Is there anything specific that you are unsure/unclear about? I know Zeta is still fairly undocumented. Happy to an

[2017-08-26 20:00] jammln commented on #78
What sort algorithm would you prefer to be used? Or should it depend on the size of the array?

[2017-08-26 20:02] maximecb commented on #78
@jammln What are the different options?

[2017-08-26 20:04] boomshroom commented on #78
Quick sort is usually a fairly good option to start with for arrays. If need be, we can always tell it to switch to a different algorithm when the length is small.

[2017-08-26 20:06] jammln commented on #78
I agree with @boomshroom, use something like insertion sort for small arrays and quicksort for anything bigger. I think it would have to be benchmarked for tuning where the cross over point for array size to algorithm performance is.

[2017-08-26 20:14] maximecb commented on #78
Sure. It's also a question of how much time you're willing to put into it. Any sort implementation is better than none, so I'd be happy to have a basic quicksort just to check that box. If you're interested in implementing something more sophisticated and benchmarking it, that would be amazing too. If you're interested, you could start with a first PR for a basic implementation, and then a second

[2017-08-26 20:15] jammln commented on #78
Sounds good to me, I'll get to work on it.

[2017-08-26 20:36] vazzup commented on #83
So the `std/map` has to be implemented in plush using the [plush template](https://github.com/zetavm/zetavm/blob/master/plush/plush_pkg.pls), correct? Plush is like the lex/yacc of ZetaVM if I'm not wrong?

[2017-08-26 20:41] jammln opened #87 "Printing arrays"
I attempted to print an array in plush and I get the following error message:

I assume printing arrays isn't implemented in the print function?
An example of this is:
[code]

[2017-08-26 21:17] maximecb commented on #83
It shoud be written in the Plush language, because that's the most complete/mature language running on the platform. It's the language being used to bootstrap the system. Implementing the map will not involve any parsing however.

[2017-08-26 21:19] maximecb commented on #87
The code for the print function would be under `plush/runtime.pls`. It's indeed not implemented right now. Feel free to give it a go if you like :)

[2017-08-26 22:17] krypt-n commented on #87
One option would be to add arrays to `string.toString`, since that would be more reusable than an implementation in `print`

[2017-08-27 05:16] maximecb commented on #87
@krypt-n That seems like a good idea. We can lazily import `std/string` in the runtime when printing arrays is needed.`

[2017-08-27 08:15] ashwanidausodia commented on #83
@maximecb Is there a way to declare an array with initial size in plush. It will be required if map (assoc list) were to be implemented using hashtables. Python kind of allows this
[code]
It is not possible in javascript but if you set value at any index beyond length, it automatically resizes the array.
[code]

[2017-08-27 09:30] maximecb commented on #83
There isn't yet. In part because the JS way has a big problem, being that all the elements up to the last one are set to `undefined`. Right now, in order to get an array of length N, you have to push N elements, which ensures that they are all initialized. I think we might want to add an instruction to create an array of a certain size and with an initial value that we specify.

[2017-08-27 09:31] maximecb commented on #84
Closing for now. I've been looking at package managers and I think I'm converging on a better design for the package system, which will be needed for this.

[2017-08-27 09:31] #84 closed

[2017-08-27 09:48] ashwanidausodia commented on #78
I think, For now we can close this after #89  is merged.

[2017-08-27 09:54] ashwanidausodia commented on #83
This is what I am doing now. But you can get rid of unnecessary reallocations if size is known beforehand.

[2017-08-27 12:05] ashwanidausodia opened #91 "Plush parser does not expect whitespace after some language keywords."
Some of the language keywords require whitespace after them. E.g. `return 42;` should be valid but `return42;` should be not. Currently Plush parser does not check for this. Allowing you to write code like
[code]
Also it throws error when function name starts with any of the keywords like `throw`, `return`, `var` etc. Here in line `throwAwayTheArgument(12);`, Paser parses it as `throw AwayTheArgum

[2017-08-27 14:38] krypt-n commented on #91
Is this about the parser written in C++ or the self hosting parser?

[2017-08-27 15:01] ashwanidausodia commented on #91
The one written in C++

[2017-08-27 16:32] Maaarcocr commented on #91
I may be wrong, but we should not have this problem on the self hosted version of Plush.

[2017-08-27 16:33] krypt-n commented on #91
That's why I was asking. The comments in the self hosted version indicate that these cases were explicitily handled.

[2017-08-27 17:14] ashwanidausodia commented on #91
@Maaarcocr @krypt-n I just saw the code. Self hosted parser handles these cases but one written in c++ does not.

[2017-08-27 17:18] maximecb commented on #91
My goal is to deprecate the C++ parser once the Plush package can fully compile itself. Very close to that, but missing some small key ingredients. You could backport fixes from `parser.pls` to `cplush` if you like. Otherwise, hopefully within a month or three, we can fully replace the C++ parser.

[2017-08-27 17:31] ashwanidausodia commented on #91
@maximecb There is no point in backporting the changes if it is going to deprecate. We should rather put efforts in making plush parser as capable as cplush. Can we keep this issue open until plush can parse itself.

[2017-08-27 17:52] #78 closed

[2017-08-27 17:53] #72 closed

[2017-08-27 17:57] maximecb commented on #74
Simple things we can do for user-friendliness:

- Stack traces on exceptions (work in progress)

- Documenting the stack frame layout and execution model under `/docs`

- Creating a style guide / how to contribute guide under `/docs`

[2017-08-27 18:35] maximecb commented on #91
Sure. I'll take the opportunity to tell you what the current state of this is:

- I've been working on implementing serialization in the VM so that we can write generated code to test files (see `/tests/plush/serialize.pls` and `/tests/plush/self_parse.pls`). Serialization is currently working.

- The serialized/reimported Plush package doesn't quite work because it references functions in `runtim

[2017-08-27 19:37] maximecb commented on #83
There is a capacity hint when creating a new array, which means you can push elements up to the capacity without reallocation.

The reason it works the way it does right now is because I was thinking this would be better for type inference. If you start from an empty array, and only push say, `int32` values to it, then it will be fairly easy for Zeta to infer that the array only contains `int32` v

[2017-08-27 19:46] krypt-n commented on #83
Since we already can create new arrays with some capacity (but not length), what about something like `ensure_capacity <array> <capacity>`, wich would allow implementiers to get rid of unnecessary allocations if they push individual elemets into an array.

[2017-08-27 20:11] maximecb commented on #83
I think we want some way to create an array that has a given length and initialize the elements all at once. We probably also need to have the ability to resize arrays. Not just grow them but also shrink them, since Python and JS allow that.

So maybe adding a `resize <length> <init_val>` opcode would be the solution that makes the most sense for now? We can then use that to build an `array.newArr

[2017-08-27 21:00] maximecb commented on #87
And it's in :)

[2017-08-27 21:00] #87 closed

[2017-08-27 21:09] maximecb commented on #91
Tagged this for the MVP milestone. Getting rid of the C++ parser is probably something that needs to get done soon-ish, before we promote Zeta more actively, because I think people find it generally confusing that there are two Plush implementations.

[2017-08-27 23:49] maximecb commented on #86
I added a short document about this and other details: https://github.com/zetavm/zetavm/blob/master/docs/exec_model.md

[2017-08-27 23:49] #86 closed

[2017-08-27 23:53] boomshroom commented on #86
Thank you.

[2017-08-27 23:53] maximecb commented on #36
Added this document, which may be helpful to newcomers wanting to implement a language: https://github.com/zetavm/zetavm/blob/master/docs/exec_model.md

[2017-08-28 02:08] maximecb commented on #82
Plush asserts now use exceptions. I removed the `abort` opcode: https://github.com/zetavm/zetavm/commit/eac17b2f78e23e9b93eda91e77fb7bc17181b885

[2017-08-28 17:07] mollymorphic opened #94 "Subprocess support for scripting"
In order to be useful for minimal shell/scripting-type tasks zeta should provide the ability to create & control subprocesses.

A reasonable first implementation would:

- have a synchronous API
- be implemented with or based on the `popen` function: [http://man7.org/linux/man-pages/man3/popen.3.html](http://man7.org/linux/man-pages/man3/popen.3.html)
- have at least one function which accepts a c

[2017-08-28 20:24] krypt-n commented on #82
Great.

Should a stacktrace object/array be attached to the exception value, if it is catched? This would allow manual printing and/or introspection by the user or the runtime. A language runtime could for example look at the `src_pos`s and print the corresponding lines of the program. That would be a nice feature for language implementers. What's your opinion on this vs. simple printing by the in

[2017-08-29 01:11] maximecb commented on #94
Yeah, what scares me a little bit here is that I've worked with Python's popen, and it was a mess. There were a lot of corner cases to deal with. For instance, it seems that some programs can tell if you've read their stdout, and will block until you've done so. Then, of course, there are platform-specific differences.

Another issue is that, from what I'm reading, `popen` allows you to read from

[2017-08-29 01:15] maximecb commented on #82
Hmm. I suppose we could. The minor complication here is that Zeta exception objects have to be converted into `RunError` objects when they are passing through the VM code. Then they need to be re-converted into exception objects when going through Zeta code.

For illustration: `import` is a host function, which can throw a RunError object. Importing a package may also cause the package's `init` fu

[2017-08-29 18:51] Maaarcocr opened #95 "Creating the configure executable doesn't work"
Command to create the configure executable:
[code]
The error I get when running it:
[code]

[2017-08-29 19:28] krypt-n commented on #95
I can't reproduce this with GNU autoconf 2.69 and the produced file is virtually identical to the one that is checked into the repo. Google seems to suggest that you may be missing `pkg-config`, could you check if you have that installed?

[2017-08-29 20:20] mollymorphic commented on #94
Ya, you can only get one or the other as a pipe from `popen()` I would agree if you had to choose one then getting stdout is more generally useful - but if possible it'd be nice to expose both.

In either case whatever other streams aren't captured are just delegated to the parent process which helps some - you can still get to them, it's just awkward. More complicated flows might be built with `f

[2017-08-29 22:36] maximecb commented on #95
I think that @krypt-n is right. There is also a dependency on `pkg-config`. I will update the README.

[2017-08-29 22:38] maximecb commented on #95
Updated the README.

[2017-08-29 22:38] #95 closed

[2017-08-29 22:43] maximecb commented on #94
Possibly, we could create a `core/system` library, and have an `exec` command which works as follows:

[code]

The `inputString` would get written to the subprocess's `stdin` after it's started. Then we could read the subprocess's stdout and stderr and put those into strings.

[code]

Another option would be to combine both stdout and stderr into a single "output" string.

[2017-08-30 23:16] maximecb opened #96 "Floating-point parsing support in the std/parsing library"
A little while back, I spun off some of the lower-level parsing functions in the Plush parser into their own [parsing library](https://github.com/zetavm/zetavm/blob/master/plush/parsing.pls), so that other languages could reuse them. These functions basically do lexing, parsing of identifiers and string literals, things that are not overly specific to the Plush language.

One feature that is missi

[2017-08-31 23:01] #36 closed

[2017-08-31 23:02] #20 closed

[2017-08-31 23:16] maximecb commented on #74
I added the execution model and contributor guide documents. We have an issue for stack traces. Will close this issue for now as it's not very specific.

[2017-08-31 23:16] #74 closed

[2017-08-31 23:28] maximecb opened #97 "Timing functions, time library (std/time)"
In order to do support animations, games, or do benchmarking, we're going to need to support some  timer/timing functions.

Right now, we're limited to 32-bit floats and 32-bit integers, so we can't really do "time since unix epoch", but we could expose a timer function that produces the time since the process started. Because of the limited precision of 32-bit floats, it would probably make the m

[2017-09-02 19:22] ashwanidausodia commented on #83
I am implementing an initial version based on hashtables. Here is an update
You can create new instance
[code]
There is an `insert` method which inserts the key value pair in the map if key does not exist, otherwise it updates the value corresponding to key.
[code]
Currently only `int32` and `string` are supported as keys. For `int32`, value itself is hash and for `string`,  I am using djb2. Then,

[2017-09-03 15:59] maximecb commented on #83
Glad to hear you're this far along! :)

I think I would prefer 'set' instead of 'insert'. Matches better with 'get'. The 'containsKey' function I would rename to simply 'has'.

Pretty cool that you thought to include 'forEach'. Possibly, you could also include a 'map' operator which transforms the values. One thing that seems missing is to have a 'keys' function which returns the list of all keys.

[2017-09-05 20:01] jammln commented on #97
It would be useful for benchmarking to cancel out the time taken for the VM to load and exit, it would also make repeated benchmarks easier to do as well.

[2017-09-05 22:52] maximecb commented on #97
@jammln Not sure how that would be integrated into timing functions.

Timing benchmarks reliably is generally tricky. The way it's typically done is by running the benchmarks a number of time to give the VM some time to "warm up", and then doing a number of timing iterations, and averaging out the times. I would say that this is a separate issue from providing basic general-purpose timing function

[2017-09-06 14:57] jammln commented on #97
@maximecb Ah, maybe I miscommunicated, I was just stating a use case and backing up the idea of having timing functions. A millis from start function would be the easiest I think given the 32 bit int limitation.

[2017-09-09 00:35] boomshroom commented on #94
A mechanism for starting processes would be nice. Once that's done, one direction to continue could be adding some way of providing source code to zeta through stdin with some way to select the language package. maybe something like `zeta -i lang/plush/0` and it would read plush code interactively from stdin as a repl or shell.

This by no means has to be implemented and would probably require a s

[2017-09-09 03:24] maximecb commented on #94
@boomshroom There may be a case for passing code through stdin. Using Zeta as a bash replacement seems beyond the scope of this project though. Seems we would need to expose a ton of posix functionality to make that work.

[2017-09-09 03:37] boomshroom commented on #94
It's more of a stretch goal. I would not want time taken away from the core to implement it. It's just a possible direction when everything is more or less complete.

[2017-09-09 03:56] maximecb opened #99 "Missing std/string and std/math functions"
I'm working on making the benchmarks under [/benchmarks](/benchmarks) parameterizable with some size argument on the command-line, so that we can quickly run all of the benchmarks as part of `make test`. In the process of doing this, I noticed that at least two useful string and math functions are missing.

We're missing a `math.pow(x, y)`. At the very least, we should support this for positive in

[2017-09-09 03:58] maximecb commented on #83
@ashwanidausodia I noticed that the tests for the map library take several seconds to complete. Could you, as part of the next PR, make it so it takes under one second?

[code]

[2017-09-09 08:53] ashwanidausodia commented on #83
@maximecb

Because it loads 10000 key value pairs from a file and then does a lot of (around `10000` insertions and deletions each, `35000` retrieval) operations on the map. Parsing that file itself takes `65%` of the time. We could include the subset of this test for `make test` and move the full test to some other make rule (say `make fulltest` or something like that).

[2017-09-09 14:36] maximecb commented on #83
@ashwanidausodia Let's just shink the test to 2000 key-value pairs?

I guess we should also look into what the slowest part of the file parsing is. There's some chance we could make it faster.

[2017-09-11 01:20] maximecb commented on #97
I implemented a basic `get_time_millis()` function for both Unix and Windows in: https://github.com/zetavm/zetavm/commit/daa45da471bccc498632a1d8390b6a14194c5995

[2017-09-11 01:40] #97 closed

[2017-09-12 23:01] maximecb opened #103 "std/time needs a get_local_time function"
The `std/time` library could use a function to get the local time. One potential use for this, besides knowing the time, is as a random seed for the random number generator.

The `std/time` library is implemented in [vm/packages.cpp](/vm/packages.cpp). I think we should just use the [ctime](http://www.cplusplus.com/reference/ctime/localtime/) functions to implement this.

The `get_local_time` func

[2017-09-16 03:13] #99 closed

[2017-09-16 14:35] maximecb commented on #83
@ashwanidausodia Are you going to have time to tackle the few remaining issues?

Namely, the slow tests, hashing for objects, and ideally switching to linear probing instead of buckets?

[2017-10-05 02:25] maximecb opened #105 "Recursive string.join function"
Currently, the `join` function in the `std/string` library uses successive string concatenations to assemble the output string. This is problematic because the total running time is O(n^2). I think we could get a much better running time by implementing a divide and conquer algorithm instead, which splits the left and right string arrays in half and performs the join operation recursively. A use c

[2017-10-05 20:39] bigs commented on #105
is this bottom up approach roughly equivalent?

[code]

either way, i'd be happy to take a go at this!

[2017-10-05 20:40] bigs commented on #105
i suppose the top down version avoids excess list allocations

[2017-10-06 00:19] maximecb commented on #105
@bigs I think only the bottom up approach is possible with immutable strings. Would be happy if you want to take a go at it.

The code for the string library is under [plush/string.pls](https://github.com/zetavm/zetavm/blob/master/plush/string.pls), and the tests are under [tests/push/string.pls](https://github.com/zetavm/zetavm/blob/master/tests/plush/string.pls).

[2017-10-06 03:58] bigs commented on #105
totally, had a moment and made a go of the top down approach! will pr in a moment.

[2017-10-07 00:31] maximecb commented on #105
@bigs Just wanted to say that I tested the recursive `string.join` to [generate a PPM image file](https://github.com/zetavm/zetavm/commit/a187877c94875df9a8257d439fb2115027e31bc5). Previously, this wouldn't run in a reasonable amount of time. Now it works :)

[2017-10-07 00:31] #105 closed

[2017-10-07 01:56] bigs commented on #105
happy to have helped! time to see what’s next…

[2017-10-07 02:31] bigs commented on #66
just chiming in with a thought, but skip lists could be a wonderful aid in parallelizing mark passes!

[2017-10-07 18:43] maximecb commented on #66
@bigs Because you can skip through the list? I guess it depends how many roots there are, but it might be possible to have a single thread copy out the roots into a vector, and then traverse those roots across multiple threads.

What I would also really like to have, eventually, is lazy, incremental sweeping. That could really help with pause times. That being said, we aren't even yet at the step

[2017-10-08 16:26] maximecb opened #108 "String escaping function"
I was writing code to generate CSV files yesterday, and it occurred to me that it would be useful to have a string escaping function as part of the `std/string` library (see `plush/string.pls`). I propose we simply name this function "escape". It should follow the C string escaping rules, and could be a direct port of the `escapeStr` function found in `vm/serialize.cpp`.

[2017-10-08 16:26] maximecb commented on #83
@ashwanidausodia ping!

[2017-10-09 04:41] ashwanidausodia commented on #83
Sorry, I've been very busy lately. And I expect next some weeks to be the same. I will try to finish it by month end.

[2017-10-09 13:35] maximecb commented on #83
@ashwanidausodia no problem. Thanks for taking the time to respond.

[2017-10-09 19:16] bigs commented on #66
basically using the skip lists as a means of dividing up the work. each thread gets an id (i) from [0..num threads) and finds its "batch of work" by traversing the second level skip list `i` times (looking forward one more step to know when it should jump back up to the second level), then dives in to the main linked list. it goes through and marks items until it hits the start of the next section

[2017-10-09 20:13] maximecb commented on #66
Hmm. That's tricky because often, recent research papers will present fairly elaborate schemes.

You probably want to look at course notes to begin with, like these:
http://www.cs.cmu.edu/afs/cs/academic/class/15745-s06/web/handouts/garbage.pdf

More course notes:
http://www.math.grin.edu/~rebelsky/Courses/CS302/99S/Presentations/GC/

This blog post delves into some details of how the JVM does it:

[2017-10-09 20:39] SquidDev commented on #66
I've found the [LuaJIT wiki's algorithm section](http://wiki.luajit.org/New-Garbage-Collector#gc-algorithms) to be rather useful too. It's rather sparse on implementation details, but offers a decent description of some algorithms.

[2017-10-09 21:30] bigs commented on #66
thanks y'all!

[2017-10-11 19:00] maximecb commented on #103
Aww yisss.

[2017-10-11 19:00] #103 closed

[2017-10-12 15:49] Bernolt commented on #108
Hi Max, is someone working on this already? :)

[2017-10-12 15:51] maximecb commented on #108
@Bernolt Free for the taking :)

[2017-10-13 02:09] #2 closed

[2017-10-13 02:59] maximecb opened #111 "Plush command-line option parser"
ZetaVM has an [option parser](https://github.com/zetavm/zetavm/blob/master/vm/opt_parser.h), written in C++, which was contributed by ashwanidausodia. This option parser handles the command-line options of the VM itself.

However, programs running on ZetaVM can receive their own options, eg:

[code]

Currently, the options passed to programs running on ZetaVM are handled in an ad-hoc manner. See [

[2017-10-13 15:41] meadori commented on #2
@maximecb , many apologies for never picking this back up.  The day job just hasn't let up in a while.

[2017-10-13 16:29] maximecb commented on #2
It's alright, we're all busy. I think Zeta is maybe not quite mature enough to support new languages yet anyway. It will be easier once we have a package server and people can just upload language packages.

[2017-10-14 13:22] wjh commented on #96
Hello, I'm pretty interested in taking a look at this is that's ok?

[2017-10-14 14:53] maximecb commented on #96
@wjh Certainly. Nobody has dared to try their hand at this issue yet. Go for it :)

[2017-10-18 08:22] krypt-n commented on #82
Once again, I have to apologise for my absence. I should have at least shared my progress on this issue  before staying silent for two months. https://github.com/krypt-n/zetavm/commit/82c0995e97ca5dad5dcbbbae7d39fc0fc3f5ba2b

test.pls:
[code]

[code]
TODO:
* [ ] check position informatiion on throw
* [ ] improve function name heuristics
* [ ] handle RunError conversion if thrown inside VM context

[2017-10-18 14:41] maximecb commented on #82
Hi @krypt-n. Welcome back.

That seems like good progress. More than halfway there. Is there anything you're stuck on, need help with?

[2017-10-19 17:15] krypt-n commented on #82
Nothing in particular. Is `hostCall` the only place that needs to convert from RunError to zeta exception? And do we need an explicit conversion or can we just pass the pointer to a zeta heap object inside of an C++ exception object? (Just asking if I'm missing anything)

[2017-10-19 22:21] krypt-n commented on #82
[code]

* cplush needs to emit more positon information (since it is used to compile packages)
* `top-level` doesn't really contain much information. Maybe replace it with the package name

[2017-10-20 00:13] maximecb commented on #82
Yes, I believe so.

In the case of RunError -> zeta object, we need to create a zeta object, we can't pass a pointer to a C++ object.

In the case of zeta exception -> RunError, I'm not sure. We technically could wrap zeta exceptions I suppose, but I think at the moment I'm unwrapping them so the rest of the code doesn't have to deal with them. Are you asking because you'd like to preserve the sta

[2017-10-23 13:07] maximecb commented on #94
Will close this for now since it isn't needed at the moment and we don't have a very clear plan.

[2017-10-23 13:07] #94 closed

[2017-10-23 13:15] maximecb opened #113 "Float support for math.pow, missing exp and log instructions"
I was writing some audio synthesis code, and porting over some filter code I had written a while back. Unfortunately, the said filter relies on the `math.pow(x,y)` function accepting floating-point values, and right now we only support integers. I would like to fix that gap.

I think a good solution, for now, may be to expose the C `log(x)` and `exp(x)` functions through new `log_f32` and `log_f32

[2017-10-23 14:19] bigs commented on #113
i'm probably down to do this tonight!

[2017-10-23 14:30] maximecb commented on #113
@bigs Do it! :+1:

[2017-10-24 13:14] maximecb commented on #113
@bigs Any chance to look at this? I ran into another place where pow of floats is needed.

[2017-10-24 14:55] bigs commented on #113
@maximecb yeah i can knock this out! a question: how do you feel about adding [pow](http://www.cplusplus.com/reference/cmath/pow/) as a primitive and using that as well?

[2017-10-24 15:16] maximecb commented on #113
@bigs The problem is that pow has many restrictions on the values it can take as input. An exception should be thrown if negative integers are passed as exponent, for example. Though I suppose we have to deal with these either way.

So, yes, we can add pow as a primitive, but you can't just directly call it. You still have to be careful in checking for invalid inputs. Also note that 2^infinity, fo

[2017-10-24 15:18] bigs commented on #113
@maximecb cool, sounds good!

[2017-10-24 16:08] bigs commented on #113
@maximecb hmmm any reason why i'd be getting

[code]

even though i'm guarding in plush with

[code]

(just as a test of the op)

[2017-10-24 16:12] maximecb commented on #113
@bigs Are you sure this is happening in your implementation of the pow op? I suggest simplifying the test case as much as possible. If the problem persists, can you paste your whole test code?

[2017-10-24 16:13] bigs commented on #113
yeah, it's actually reaching my pow op in the vm. i believe it has to do with the arity, as my exp/log operators work well. i'll push up a WIP branch for review in a sec.

[2017-10-25 12:12] krypt-n commented on #82
In the current prototype, I am storing the zeta throw object and stack information inside of a RunError such that we can get stack information across host functions. (The stack trace from last week shows that)

[2017-10-25 12:15] krypt-n commented on #82
`top-level` is just the name that plush codegen gives the top-level function. The exception handling doesn't differentiate between it and normal functions

[2017-10-25 13:58] maximecb commented on #82
Seems good to me.

That's probably a good idea, because we can run in a situation where Plush code calls into ZetaVM code (C++), which calls back into Plush code. If we can just wrap the Plush exceptions and unwrap them, it seems better than converting to a C++ exception, and then back into a Plush one.

[2017-10-26 02:36] #113 closed

[2017-10-26 03:15] maximecb commented on #113
@bigs Alright. With the pow function, I was able to get my music code working :D

Check out: `./zeta examples/music.pls`

Need to have run `./configure --with-sdl2`

[2017-10-26 03:20] bigs commented on #113
yaaaaaaas. once i get a little further a long i'll push up some of the music stuff i'm doing in haskell! constraint programming + combinators = fun sequencer. almost at a place where enough pieces are in place...

on the zeta front, i'd love to take on something a little more substantial. any thoughts?

[2017-10-26 16:43] maximecb commented on #113
There are these two issues: https://github.com/zetavm/zetavm/issues/111, https://github.com/zetavm/zetavm/issues/96

I would also like to eventually have a core/midi API. I particularly care about MIDI input, because I would like to be able to interface with MIDI controllers. This is tricky because the APIs for Linux, Mac and Windows are different. There are some libraries out there that try to br

[2017-10-26 17:49] bigs commented on #113
ahhhhhh amazing. i highly recommend rtmidi! i've just made bindings for it in haskell in fact (have a few things i'd like to clean up w/ the callback mechanism but will be OSS soon). i'd be happy to take that on. rtmidi is great b/c it's platform independent, maintained, and supports each OS's virtual midi bus so you have maximal reach!

[2017-10-26 18:56] maximecb commented on #113
If you want to work on the `core/midi` API, I would suggest looking at the way other core packages are implemented in `vm/runtime.cpp`. Then you could open an issue and submit a proposal. The key thing is that I want to keep all of these APIs as minimalistic and simple as possible. It's very important to me to insulate the internals of Zeta from the specific design of external libraries. If at som

[2017-11-17 15:38] noundlas opened #116 "Core dump seen on 32 bit machine"
Assertion seen while running `Zeta`
Below is the stack trace for `./zeta  --test`
[code]

Machine and compiler details are below
[code]

[2017-11-17 15:45] noundlas commented on #116
Let me play around with it. I think I could be able to figure it out what could be going wrong.

[2017-11-17 18:42] noundlas commented on #116
Issue is found.

During `Array::Push`
We are trying to do
[code]
`setNextPtr` is assigning nextPtr and it is getting overwritten while setting the HEADER_MSK_NEXT
[code]

[2017-11-18 00:19] maximecb commented on #116
Good find, thank you for taking the time to look through this. I apologize for the slow response. Currently on a trip in Europe and only getting back Tuesday. Are you able to suggest a fix?

[2017-11-18 02:32] noundlas commented on #116
@maximecb oh cool.. Have a good time in Europe. Let me check the assembly code. After that I should be able to comment on the fix.

[2017-11-18 13:22] krypt-n commented on #116
How'd you get the regex stuff to work on gcc 4.8? On the version I just built I can't get past `packages.cpp:882`.

[2017-11-18 13:35] krypt-n commented on #116
Ah, it's not the gcc version, this issue is caused by your target being 32-bit. If `sizeof(intptr_t) < sizeof(uint64_t)`, `setNextPtr` will overwrite half of the nextPtr.

[2017-11-18 16:41] noundlas commented on #116
@krypt-n Yes. Even I felt the same.. But i have failed to reproduce this issue in c code snippet.. so just confused little. Had to understand why this issue is seen only with zetavm.

Here is my analysis and update on this issue.
it seems to be difference between uint32 and uint64. I have used uint32 instead of uint64 in setNextPtr.. i was seeing another issue later in execCode method while loadin

[2017-11-18 16:45] noundlas commented on #116
Even i am seeing issue with regex stuff. I took this issue first later we can have look into the others.

[2017-11-18 17:22] krypt-n commented on #116
The fix that would work on both 32 and 64 bit platforms is to replace `uint64_t` with `intptr_t`, since `HEADER_SIZE` and `OBJ_OF_NEXT` are equal to `sizeof(intptr_t)`

Furthermore I can reproduce your second issue. The codegen for the `import` opcode writes a `refptr` and a `Tag` after the opcode into the code buffer. However, the actual implementation expects a `Word` and a `Tag`. This leads to

[2017-11-18 17:55] noundlas commented on #116
Wow it's cool... Yes go ahead.. if you have the fixes ready..

[2017-11-20 12:26] noundlas commented on #116
@krypt-n aren't you seeing issue like isObject(); for Opcode GET_LOCAL_IMM for popObject. While loading Fibonacci.zim

I see that push happened for type of TAG_HOSTFN  and while trying to pop the value, it has been seen as type TAG_HOSTFN where as it expects TAG_OBJECT aa it is popObject method.

[2017-11-20 14:10] krypt-n commented on #116
No, I'm not seing any other issues when running the testset with the fixes from the PR. Which fibonacci.zim do you mean?

[2017-11-21 06:31] noundlas commented on #116
If you run `make test` it executes `zeta --test` which in turn loads ex_fibonacci.zim.. anyways let me debug it further.. i am not seeing these issues on 64 bit machine.. could be related to 32 bit

[2017-11-24 17:55] noundlas commented on #116
@krypt-n its cool now. Not sure what was the issue and how it got addressed too. I have done `./configure` once again and gave clean build. Things started working. with your patch on :)

[2017-11-24 18:31] maximecb commented on #116
Schweet! So now we'll have Mac, Linux and Windows support in both 32 and 64-bit.

@krypt-n Do you have time to fix the travis config for the PR?

[2017-12-09 02:24] #116 closed

[2017-12-27 15:11] ivoyankulovski commented on #96
Try using BigInt -like implementation, resolving decimals into integer vector. Decimals are represented as direct int32 or higher. In the event of real float, decimal integer is divided by power of 10 or bit shifted according to number of digits and added to first elements of the vector.

[2017-12-27 17:51] maximecb commented on #96
AFAIK, it's not that straightforward, there are pitfalls. I would rather delegate to the C implementation, but do it without allocating temporary strings/vectors.

[2017-12-28 12:46] ivoyankulovski commented on #96
Exactly. Native configuration of the VM should allow selection of precision per language before compiling it, most end case scenarios include 3D rendering, currency computation in fintech software and prime number calculation in cryptography. IMO removing "f" at some point of time is important, while relying only on the decimal point existence, i.e. default float should be written as 0.0

[2018-05-09 14:10] noundlas commented on #96
Is this feature implanted yet??

[2018-05-09 14:47] maximecb commented on #96
@noundlas I don't believe it is

[2018-06-19 06:30] 360CodeSafe opened #120 "Memory leak?"
Hi all,
This is 360 CodeSafe Team, we found a suspicious memory leak, at
https://github.com/zetavm/zetavm/blob/61af9cd317fa5629f570b30b61ea8c7ffc375e59/plush/codegen.cpp#L1005.

`auto joinBlock = new Block();` allocate a memory region with `Block` type, and assign the memory address to the parameter `ctx` through `ctx.merge(joinBlock);`. There is no `delete` in `genStmt()`, the callee side. And th

[2018-06-19 17:58] maximecb commented on #120
Hi,

Are you using ZetaVM, or are you developing automated code testing tools?

Either way, you are correct. There are multiple memory leaks in this project. I was focused on rapid prototyping and thought that I would fix them later. In the case of Block objects, the plan was to have a pass that collects/scraps all block at once when some max number of allocations is made. ZetaVM should be able to

[2018-07-02 07:37] ponyatov opened #121 "Any plans on Android port?"

[2018-07-02 08:11] ponyatov opened #122 "Clustering via message passing"
Do you have any plans on expanding core with SmallTalk-like dynamic dispatched message passing?
This architecture is native for distributed systems design, and it will be great to have some clustering capabilities in dynamic language runtime core.

Erlang is great in clustering support, but functional programming is cumbersome, SmallTalkish messaging naive and looks effective (but software design

[2018-07-02 08:23] ponyatov opened #123 "Dynamic parser generation"
Does any parser design functionality exists in current implementation?

Maybe **metaprogramming should be the main feature** for programming languages Olympus seizure by Zeta core. I see a lot of abilities already exists in code samples (_bytecode manipulation in symbolic form_ are roaring). To do this language core must support **dynamic lexer/parser** creation and **modification in runtime** to

[2018-07-02 08:36] ponyatov opened #124 "Managed compilation can be used for a speed-critical tasks (via LLVM binding)"
If you'll add LLVM library binding to Zeta core, it can be a variant to avoid a lot of time spent to JIT optimizations.

The idea is about to let end user himself form highly optimized application code manually (via LLVM calls), using hosted language not for speed but for understandable and soundness wording of ideas. The metaprogramming-enabled language with inheritance support will be great for

[2018-07-02 14:30] maximecb commented on #121
Not at the moment no

[2018-07-02 14:30] #121 closed

[2018-07-02 14:31] #122 closed

[2018-07-02 14:32] maximecb commented on #123
Yeah that was the idea.

[2018-07-02 14:32] #123 closed

[2018-07-02 14:32] #124 closed

[2019-06-05 17:29] Basile-z commented on #96
In a lexer I wrote I use two functions to add a token, which solve this problem:

1. `anticipateToken(TokenKind)` : this stores the position and the expected token kind.
2.   -  `validateToken(TokenKind)` : once done this allocates the token but correct the anticipated type, e.g after parsing an integer a dot was found, followed by more digits. Other example of use is to make an error token.

[2022-11-05 12:08] iahun opened #126 "Compiled fine on MSYS2 Core"
MSYS2 Core is a Cygwin fork. It compiled fine on MSYS2 Core but not on MSYS2 MinGW64 or MSYS2 Clang64. Please update readme.md to include MSYS2 Core.